Repository hmcts/opal-frontend, pull requests merged in 2023-11, with the labels that each got.

#23 PO-44
  README.md
  angular.json
  config/default.json
  server/api/proxy.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/components/govuk-accordion/govuk-accordion.component.ts
  src/app/components/govuk-button/govuk-button.component.html
  src/app/components/govuk-button/govuk-button.component.spec.ts
  src/app/components/govuk-button/govuk-button.component.ts
  src/app/components/govuk-footer/govuk-footer.component.html
  src/app/components/govuk-footer/govuk-footer.component.scss
  src/app/components/govuk-footer/govuk-footer.component.spec.ts
  src/app/components/govuk-footer/govuk-footer.component.ts
  src/app/components/govuk-header/govuk-header.component.html
  src/app/components/govuk-header/govuk-header.component.scss
  src/app/components/govuk-header/govuk-header.component.spec.ts
  src/app/components/govuk-header/govuk-header.component.ts
  src/app/components/index.ts
  src/app/enums/govuk-footer.ts
  src/app/enums/govuk-header.ts
  src/app/enums/index.ts
  src/app/interfaces/defendant-account.interface.ts
  src/app/interfaces/get-defendant-account-params.interface.ts
  src/app/interfaces/index.ts
  src/app/mocks/defendant-account.mock.ts
  src/app/mocks/index.ts
  src/app/pages/test-page/test-page.component.html
  src/app/pages/test-page/test-page.component.spec.ts
  src/app/pages/test-page/test-page.component.ts
  src/app/services/defendant-account-service/defendant-account.service.spec.ts
  src/app/services/defendant-account-service/defendant-account.service.ts
  src/app/services/index.ts
  src/assets/fonts/bold-affa96571d-v2.woff
  src/assets/fonts/bold-b542beb274-v2.woff2
  src/assets/fonts/light-94a07e06a1-v2.woff2
  src/assets/fonts/light-f591b13f7d-v2.woff
  src/assets/images/favicon.ico
  src/assets/images/govuk-apple-touch-icon-152x152.png
  src/assets/images/govuk-apple-touch-icon-167x167.png
  src/assets/images/govuk-apple-touch-icon-180x180.png
  src/assets/images/govuk-apple-touch-icon.png
  src/assets/images/govuk-crest-2x.png
  src/assets/images/govuk-crest-white.png
  src/assets/images/govuk-crest.png
  src/assets/images/govuk-logotype-crown.png
  src/assets/images/govuk-mask-icon.svg
  src/assets/images/govuk-opengraph-image.png
  src/assets/images/licence-logo.png
  src/index.html
  tsconfig.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-23

#26 FIx linting issue
  src/app/pages/test-page/test-page.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-26

#37 Set up redis infra; simplify some secrets
  README.md
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.dev.template.yaml
  charts/opal-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  server/modules/appinsights/index.ts
  server/modules/properties-volume/index.ts
Labels: ns:opal, prd:opal, add-or-update, rel:opal-frontend-pr-37, enable_keep_helm

#45 Po 72
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  cypress/e2e/functional/test-page-spec.cy.ts
  cypress/e2e/smoke/test-page-spec.cy.ts
  infrastructure/main.tf
  package.json
  server.ts
  server/api/proxy.ts
  server/global.d.ts
  server/interfaces/index.ts
  server/interfaces/securityToken.ts
  server/interfaces/userState.ts
  server/routes.ts
  server/session.d.ts
  server/session/index.ts
  server/session/session.ts
  server/sso/index.ts
  server/sso/sso-authenticated.ts
  server/sso/sso-login-callback.ts
  server/sso/sso-login.ts
  server/sso/sso-logout-callback.ts
  server/sso/sso-logout.ts
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/components/govuk-header/govuk-header.component.html
  src/app/components/govuk-header/govuk-header.component.scss
  src/app/components/govuk-header/govuk-header.component.spec.ts
  src/app/components/govuk-header/govuk-header.component.ts
  src/app/enums/sso-endpoints.ts
  src/app/guards/auth/auth.guard.spec.ts
  src/app/guards/auth/auth.guard.ts
  src/app/guards/index.ts
  src/app/guards/signed-in/signed-in.guard.spec.ts
  src/app/guards/signed-in/signed-in.guard.ts
  src/app/guards/utils/get-guard-with-dummy-url.ts
  src/app/guards/utils/index.ts
  src/app/guards/utils/run-auth-guard-with-context.ts
  src/app/pages/sign-in/sign-in.component.html
  src/app/pages/sign-in/sign-in.component.scss
  src/app/pages/sign-in/sign-in.component.spec.ts
  src/app/pages/sign-in/sign-in.component.ts
  src/app/pages/test-page/test-page.component.html
  src/app/pages/test-page/test-page.component.ts
  src/app/services/auth-service/auth.service.spec.ts
  src/app/services/auth-service/auth.service.ts
  src/app/services/index.ts
  tsconfig.json
  tsconfig.server.json
  yarn.lock
Labels: ns:opal, prd:opal, add-or-update, rel:opal-frontend-pr-45

#50 Added test comment
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.yaml
  src/app/guards/signed-in/signed-in.guard.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-50

#54 Added timeout
  server/sso/sso-login-callback.ts
  server/sso/sso-logout-callback.ts
Labels: ns:opal, prd:opal, enable_keep_helm, rel:opal-frontend-pr-54
