Repository hmcts/opal-frontend, pull requests merged in 2024-12, with the labels that each got.

#1079 PO-664
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-549_reviewAccountButtonEnabledAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-653_reviewAccountButtonEnabledAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-654_reviewAccountButtonEnabledCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-560_checkAccountDetailsAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-662_checkAccountDetailsAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-663_checkAccountDetailsCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/deleteAccount/PO-518_deleteAccountConfirmation.feature
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-state.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.html
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/interfaces/fines-mac-state.interface.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1079

#1076 PO-663
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-549_reviewAccountButtonEnabledAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-653_reviewAccountButtonEnabledAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-654_reviewAccountButtonEnabledCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-560_checkAccountDetailsAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-662_checkAccountDetailsAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-663_checkAccountDetailsCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/deleteAccount/PO-518_deleteAccountConfirmation.feature
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-state.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.html
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/interfaces/fines-mac-state.interface.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1076

#1075 PO-662
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-549_reviewAccountButtonEnabledAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-653_reviewAccountButtonEnabledAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-654_reviewAccountButtonEnabledCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-560_checkAccountDetailsAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-662_checkAccountDetailsAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAccountDetails/PO-663_checkAccountDetailsCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/deleteAccount/PO-518_deleteAccountConfirmation.feature
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-list.component.html
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-list.component.spec.ts
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-list.component.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-state.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.html
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-account-comments-and-notes/fines-mac-review-account-account-comments-and-notes.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-account-details/fines-mac-review-account-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-contact-details/fines-mac-review-account-contact-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-court-details/fines-mac-review-account-court-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-employer-details/fines-mac-review-account-employer-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-offence-details/fines-mac-review-account-offence-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-parent-guardian-details/fines-mac-review-account-parent-guardian-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-parent-guardian-details/fines-mac-review-account-parent-guardian-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-parent-guardian-details/fines-mac-review-account-parent-guardian-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-personal-details/fines-mac-review-account-personal-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-personal-details/fines-mac-review-account-personal-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/interfaces/fines-mac-state.interface.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1075

#1099 PO-1069
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/constants/fines-mac-account-details-state.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/interfaces/fines-mac-account-details-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/mocks/fines-mac-account-details-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/constants/fines-mac-create-account-field-errors.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account-form/fines-mac-create-account-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account-form/fines-mac-create-account-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/fines-mac-create-account-field-errors.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/mocks/fines-mac-create-account-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-account-details/fines-mac-review-account-account-details.component.html
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/mocks/state/fines-mac-payload-account-details-state.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-business-unit-autocomplete-items.mock.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1099

#1094 Minor Creditor Bug
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-686-minorCreditorEditAY.feature
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1094

#1111 Update Chart.yaml
  charts/opal-frontend/Chart.yaml
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1111

#1119 Inconsistent dates breaking pipeline
  cypress/support/utils/dateUtils.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary-date-of-sentence/fines-mac-offence-details-review-summary-date-of-sentence.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/mocks/fines-mac-offence-details-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-offences.utils.spec.ts
  src/app/flows/fines/fines.component.ts
  src/app/flows/fines/services/fines-service/fines.service.spec.ts
  src/app/flows/fines/services/fines-service/fines.service.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1119

#1126 Po 1074 test optmisation
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-base.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant-company.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant-individual.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant-parent-guardian.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-offences.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-payment-terms.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-account-notes.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-base.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-defendant-company.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-defendant-individual.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-defendant-parent-guardian.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-defendant.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-offences.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-payment-terms.utils.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1126

#1129 Alphagov test optimisation
  src/app/components/alphagov/alphagov-accessible-autocomplete/alphagov-accessible-autocomplete.component.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1129
