Repository hmcts/opal-frontend, pull requests merged in 2024-06, with the labels that each got.

#532 Redis is hanging on the pipelines, putting in a listener and catch after 20 re-attempts to exit the process otherwise the pipeline hangs
  server/session/session-storage.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-532

#533 PO-346
  cypress/e2e/functional/opal/manualAccountCreation/PO-274_navigationLinksAndButtons.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-343_manualAccountCreation.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO_279_adultAndYouthAcCreationPage.feature
  cypress/support/step_definitions/accountDetails/businessUnitAndDefendantType.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/app-routing.module.ts
  src/app/components/abstract/form-base/form-base.component.spec.ts
  src/app/components/abstract/form-base/form-base.component.ts
  src/app/components/govuk/govuk-cancel-link/govuk-cancel-link.component.html
  src/app/components/govuk/govuk-cancel-link/govuk-cancel-link.component.scss
  src/app/components/govuk/govuk-cancel-link/govuk-cancel-link.component.spec.ts
  src/app/components/govuk/govuk-cancel-link/govuk-cancel-link.component.ts
  src/app/components/govuk/govuk-heading-with-caption/govuk-heading-with-caption.component.html
  src/app/components/govuk/govuk-heading-with-caption/govuk-heading-with-caption.component.spec.ts
  src/app/components/govuk/govuk-heading-with-caption/govuk-heading-with-caption.component.ts
  src/app/components/govuk/govuk-radio/govuk-radio.component.html
  src/app/components/govuk/govuk-radio/govuk-radio.component.ts
  src/app/components/index.ts
  src/app/constants/defendant-types-state.ts
  src/app/constants/index.ts
  src/app/constants/manual-account-creation-account-details-field-errors.ts
  src/app/constants/manual-account-creation-account-details-state.ts
  src/app/constants/manual-account-creation-state.ts
  src/app/enums/manual-account-creation-routes.ts
  src/app/interfaces/defendant-types.interface.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-account-details-state.interface.ts
  src/app/interfaces/manual-account-creation-state.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-account-details-state.mock.ts
  src/app/pages/manual-account-creation/account-details/account-details-form/account-details-form.component.html
  src/app/pages/manual-account-creation/account-details/account-details-form/account-details-form.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details-form/account-details-form.component.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.html
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.html
  src/app/pages/manual-account-creation/create-account/create-account.component.spec.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.ts
  src/app/pages/manual-account-creation/employer-details/employer-details-form/employer-details-form.component.html
  src/app/pages/manual-account-creation/employer-details/employer-details.component.spec.ts
  src/app/pages/manual-account-creation/employer-details/employer-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-533

#556 Po 366
  cypress/e2e/functional/opal/PO-115_accountSearch.feature
  cypress/e2e/functional/opal/PO-116_accountMatches.feature
  cypress/e2e/functional/opal/PO-117_accounEnquirytDetails.feature
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO_279_adultAndYouthAcCreationPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/Test.feature
  cypress/e2e/smoke/opal/PO-224_accessibilityTests.feature
  cypress/support/step_definitions/accountDetails/accountDetailsPage.ts
  cypress/support/step_definitions/accountDetails/businessUnitAndDefendantType.ts
  src/app/app-routing.module.ts
  src/app/constants/index.ts
  src/app/enums/manual-account-creation-routes.ts
  src/app/enums/routing-paths.ts
  src/app/interfaces/defendant-type.interface.ts
  src/app/interfaces/index.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.html
  src/app/pages/manual-account-creation/contact-details/contact-details.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.html
  src/app/pages/manual-account-creation/create-account/create-account.component.spec.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-556

#558 Po 358
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/support/projectConfig/contact_details_page.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/app-routing.module.ts
  src/app/constants/index.ts
  src/app/constants/manual-account-creation-contact-details-field-errors.ts
  src/app/constants/manual-account-creation-contact-details-state.ts
  src/app/constants/manual-account-creation-state.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-contact-details-state.interface.ts
  src/app/interfaces/manual-account-creation-state.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-contact-details-state.mock.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.html
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.html
  src/app/pages/manual-account-creation/contact-details/contact-details.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.spec.ts
  src/app/pages/manual-account-creation/employer-details/employer-details.component.spec.ts
  src/app/pages/manual-account-creation/employer-details/employer-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-558

#530 PO-362: UI - Create the Account details screen (Task List) for a Company defendant type
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/support/projectConfig/manual_account_page.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/app-routing.module.ts
  src/app/enums/manual-account-creation-routes.ts
  src/app/enums/routing-paths.ts
  src/app/pages/manual-account-creation/company-details/company-details.component.html
  src/app/pages/manual-account-creation/company-details/company-details.component.spec.ts
  src/app/pages/manual-account-creation/company-details/company-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.html
  src/app/pages/manual-account-creation/create-account/create-account.component.spec.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.ts
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-530

#560 Po 368
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  src/app/pages/manual-account-creation/employer-details/employer-details-form/employer-details-form.component.html
  src/app/pages/manual-account-creation/employer-details/employer-details-form/employer-details-form.component.ts
  src/app/pages/manual-account-creation/manual-account-creation.component.spec.ts
  src/app/pages/manual-account-creation/manual-account-creation.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-560

#565 Po 377
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/account_details/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-347_createAccountUserAccessOneBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-364_parentOrGuardianToPayPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/support/step_definitions/genericSteps/geneticSteps.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/components/abstract/form-base/form-base.component.spec.ts
  src/app/components/abstract/form-base/form-base.component.ts
  src/app/components/alphagov/alphagov-accessible-autocomplete/alphagov-accessible-autocomplete.component.html
  src/app/components/alphagov/alphagov-accessible-autocomplete/alphagov-accessible-autocomplete.component.ts
  src/app/constants/api-paths.ts
  src/app/constants/manual-account-creation-account-details-field-errors.ts
  src/app/interfaces/business-unit-ref-data.interface.ts
  src/app/interfaces/index.ts
  src/app/mocks/business-unit-autocomplete-items.mock.ts
  src/app/mocks/business-unit-ref-data.mock.ts
  src/app/mocks/index.ts
  src/app/pages/manual-account-creation/account-details/account-details-form/account-details-form.component.html
  src/app/pages/manual-account-creation/account-details/account-details-form/account-details-form.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details-form/account-details-form.component.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.html
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.html
  src/app/services/business-unit/business-unit.service.spec.ts
  src/app/services/business-unit/business-unit.service.ts
  src/app/services/index.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-565

#581 remove @types/helmet dependency as deprecated
  package.json
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-581

#587 Po 455
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/main.tf
  package.json
  server/csrf-token/csrf-token.ts
  server/session/session-storage.ts
  yarn.lock
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-587

#591 refactor: Update CSRFToken ignore list
  server/csrf-token/csrf-token.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-591

#592 add manual account creation scenarios to accessibility tests
  cypress/e2e/smoke/opal/PO-224_accessibilityTests.feature
  cypress/support/step_definitions/accessibility/accessibility.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-592

#590 Add manual account creation offence details route and component, remove merging tag issue on create-account component
  src/app/app-routing.module.ts
  src/app/enums/routing-paths.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.html
  src/app/pages/manual-account-creation/offence-details/offence-details.component.html
  src/app/pages/manual-account-creation/offence-details/offence-details.component.spec.ts
  src/app/pages/manual-account-creation/offence-details/offence-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-590

#596 Po 378
  package.json
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/guards/helpers/get-guard-with-dummy-url.ts
  src/app/guards/helpers/handle-observable-result.ts
  src/app/guards/helpers/run-auth-guard-with-context.ts
  src/app/guards/route-permissions/route-permissions.guard.spec.ts
  src/app/pages/account-enquiry/details/details.component.spec.ts
  src/app/pages/account-enquiry/matches/matches-table/matches-table.component.html
  src/app/pages/account-enquiry/matches/matches-table/matches-table.component.ts
  src/app/pages/account-enquiry/matches/matches.component.spec.ts
  src/app/pages/account-enquiry/search/search.component.spec.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.spec.ts
  src/app/services/app-initializer-service/app-initializer.service.spec.ts
  src/app/services/auth-service/auth.service.spec.ts
  src/app/services/business-unit/business-unit.service.spec.ts
  src/app/services/court-service/court.service.spec.ts
  src/app/services/defendant-account-service/defendant-account.service.spec.ts
  src/app/services/session-service/session.service.spec.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-596
