Repository hmcts/opal-frontend, pull requests merged in 2024-11, with the labels that each got.

#995 Po 905
  src/app/flows/fines/fines-mac/services/fines-mac-payload/constants/fines-mac-transform-items-config.constant.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload.mock.ts
  src/app/services/transformation-service/interfaces/transform-item.interface.ts
  src/app/services/transformation-service/transformation.service.spec.ts
  src/app/services/transformation-service/transformation.service.ts
Labels: ns:opal, prd:opal, test_remo, rel:opal-frontend-pr-995

#1003 Refactor userState class and session endpoint
  server/interfaces/userState.ts
  server/session/user-state.ts
Labels: ns:opal, prd:opal, test_remo, rel:opal-frontend-pr-1003

#978 PO-414
  cypress.config.ts
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-414_minorCreditorRemovalAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-670_minorCreditorRemovalAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-671_minorCreditorRemovalCOMP.feature
  cypress/support/step_definitions/genericSteps/linkSteps.ts
  cypress/support/step_definitions/manualAccountCreation/minorCreditorsTable.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/constants/fines-mac-offence-details-draft-state.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/enums/fines-mac-offence-details-default-values.enum.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary-imposition-table/fines-mac-offence-details-review-summary-imposition-table.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary-imposition-table/fines-mac-offence-details-review-summary-imposition-table.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/interfaces/fines-mac-offence-details-draft-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/mocks/fines-mac-offence-details-draft-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/constants/fines-mac-offence-details-routing-paths.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/constants/fines-mac-offence-details-routing-paths.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/fines-mac-offence-details.routes.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/interfaces/fines-mac-offence-details-routing-paths.interface.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-978

#991 PO-852
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-411_addOffenceAdultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-681_addOffenceAY-PG.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-684_addOffenceCompany.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/genericSteps/searchAutocompleteSteps.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/constants/fines-mac-offence-details-impositions-field-errors.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/constants/fines-mac-offence-details-offences-field-errors.constant.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-991

#992 PO-696
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-412_minorCreditorAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-414_minorCreditorRemovalAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-668_minorCreditorAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-669_minorCreditorCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-670_minorCreditorRemovalAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-671_minorCreditorRemovalCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-696_minorCreditorShowHide.feature
  cypress/support/step_definitions/genericSteps/linkSteps.ts
  cypress/support/step_definitions/manualAccountCreation/minorCreditorsTable.ts
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-list.component.html
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-list.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/interfaces/fines-mac-offence-details-add-an-offence-form-minor-creditor-hidden.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-992

#998 PO-686
  cypress/e2e/functional/opal/manualAccountCreation/minorCreditor/PO-686-minorCreditorEditAY.feature
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor-form/fines-mac-offence-details-minor-creditor-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor-form/fines-mac-offence-details-minor-creditor-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-998

#999 PO-683
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-418_removeImpositionAdultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-672_removeImpositionAY-PG.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-673_removeImpositionCompany.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-683_removeImpositionCreditorNames.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/majorCreditor/PO-413_majorCreditorAdultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/majorCreditor/PO-817_majorCreditorAY-PG.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/majorCreditor/PO-818_majorCreditorCompany.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-412_minorCreditorAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-414_minorCreditorRemovalAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-668_minorCreditorAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-669_minorCreditorCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-670_minorCreditorRemovalAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-671_minorCreditorRemovalCOMP.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-686-minorCreditorEditAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/minorCreditor/PO-696_minorCreditorShowHide.feature
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/constants/fines-mac-offence-details-remove-imposition-defaults.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/interfaces/fines-mac-offence-details-remove-imposition-defaults.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/mocks/fines-mac-offence-details-remove-imposition.mock.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-999

#1015 Refactor fines-mac-payload.service.ts to use a common method for buil…
  src/app/flows/fines/fines-mac/services/fines-mac-payload/enums/fines-mac-payload-account-account-statuses.enum.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1015

#1007 PO-416
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-416,682,680-OffenceRemovalAY.feature
  cypress/support/step_definitions/genericSteps/buttonSteps.ts
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  cypress/support/step_definitions/genericSteps/linkSteps.ts
  cypress/support/step_definitions/manualAccountCreation/offenceSummaryTable.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/constants/fines-mac-offence-details-impositions-state.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.scss
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/enums/fines-mac-offence-details-review-offence-imposition-default-creditor.enum.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/fines-mac-offence-details-review-offence-imposition.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/fines-mac-offence-details-review-offence-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/fines-mac-offence-details-review-offence-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/interfaces/fines-mac-offence-details-review-offence-imposition-data.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/mocks/fines-mac-offence-details-review-offence-imposition-data.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary-offence/fines-mac-offence-details-review-summary-offence-title/fines-mac-offence-details-review-summary-offence-title.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/mocks/fines-mac-offence-details-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/constants/fines-mac-offence-details-routing-paths.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/fines-mac-offence-details.routes.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/interfaces/fines-mac-offence-details-routing-paths.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/services/fines-mac-offence-details-service/fines-mac-offence-details.service.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/services/fines-mac-offence-details-service/fines-mac-offence-details.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1007

#1009 PO-927
  src/app/components/abstract/abstract-form-alias-base/readme.md
  src/app/components/abstract/abstract-form-array-base/readme.md
  src/app/components/abstract/abstract-form-array-removal-base/readme.md
  src/app/components/abstract/abstract-form-base/readme.md
  src/app/components/abstract/abstract-form-parent-base/readme.md
  src/app/components/alphagov/alphagov-accessible-autocomplete/readme.md
  src/app/components/govuk/govuk-accordion/readme.md
  src/app/components/govuk/govuk-back-link/readme.md
  src/app/components/govuk/govuk-cancel-link/readme.md
  src/app/components/govuk/govuk-checkboxes/govuk-checkboxes-conditional/readme.md
  src/app/components/govuk/govuk-checkboxes/govuk-checkboxes-divider/readme.md
  src/app/components/govuk/govuk-checkboxes/govuk-checkboxes-item/readme.md
  src/app/components/govuk/govuk-checkboxes/readme.md
  src/app/components/govuk/govuk-date-input/readme.md
  src/app/components/govuk/govuk-details/readme.md
  src/app/components/govuk/govuk-error-summary/readme.md
  src/app/components/govuk/govuk-footer/readme.md
  src/app/components/govuk/govuk-header/govuk-header-navigation-item/readme.md
  src/app/components/govuk/govuk-header/readme.md
  src/app/components/govuk/govuk-heading-with-caption/readme.md
  src/app/components/govuk/govuk-inset-text/readme.md
  src/app/components/govuk/govuk-notification-banner/readme.md
  src/app/components/govuk/govuk-pagination/readme.md
  src/app/components/govuk/govuk-panel/readme.md
  src/app/components/govuk/govuk-radio/govuk-radios-conditional/readme.md
  src/app/components/govuk/govuk-radio/govuk-radios-divider/readme.md
  src/app/components/govuk/govuk-radio/govuk-radios-item/readme.md
  src/app/components/govuk/govuk-radio/readme.md
  src/app/components/govuk/govuk-select/govuk-select.component.html
  src/app/components/govuk/govuk-select/readme.md
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-action/readme.md
  src/app/components/govuk/govuk-summary-card-list/readme.md
  src/app/components/govuk/govuk-summary-list/govuk-summary-list-row/readme.md
  src/app/components/govuk/govuk-summary-list/readme.md
  src/app/components/govuk/govuk-table/readme.md
  src/app/components/govuk/govuk-tabs/govuk-tab-list-item/readme.md
  src/app/components/govuk/govuk-tabs/govuk-tab-panel/readme.md
  src/app/components/govuk/govuk-tabs/readme.md
  src/app/components/govuk/govuk-tag/readme.md
  src/app/components/govuk/govuk-task-list/govuk-task-list-item/readme.md
  src/app/components/govuk/govuk-task-list/readme.md
  src/app/components/govuk/govuk-text-area/readme.md
  src/app/components/govuk/govuk-text-input-prefix-suffix/readme.md
  src/app/components/govuk/govuk-text-input/readme.md
  src/app/components/moj/moj-banner/readme.md
  src/app/components/moj/moj-button-menu/moj-button-menu-item/readme.md
  src/app/components/moj/moj-button-menu/readme.md
  src/app/components/moj/moj-date-picker/readme.md
  src/app/components/moj/moj-header/readme.md
  src/app/components/moj/moj-page-header/readme.md
  src/app/components/moj/moj-primary-navigation/moj-primary-navigation-item/readme.md
  src/app/components/moj/moj-primary-navigation/readme.md
  src/app/components/moj/moj-sub-navigation/moj-sub-navigation-item/readme.md
  src/app/components/moj/moj-sub-navigation/readme.md
  src/app/components/moj/moj-ticket-panel/readme.md
  src/app/components/moj/moj-timeline/moj-timeline-item/readme.md
  src/app/components/moj/moj-timeline/readme.md
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1009

#1012 PO-773
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-469_commentsAndNotes_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-499_commentsAndNotes_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-500_commentsAndNotes_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-773_commentsAndNotesCountChanges.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-919_offenceSummaryMinorMajorCreditorDetails.feature
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  cypress/support/step_definitions/genericSteps/radioButtonSteps.ts
  cypress/support/step_definitions/genericSteps/searchAutocompleteSteps.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes-form/fines-mac-account-comments-notes-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes-form/fines-mac-account-comments-notes-form.component.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1012

#1014 PO-918
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-416-682-680-OffenceRemovalAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-918_offenceSummaryShowHide.feature
  cypress/support/step_definitions/genericSteps/linkSteps.ts
  cypress/support/step_definitions/manualAccountCreation/offenceSummaryTable.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.scss
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading-title/fines-mac-offence-details-review-offence-heading-title.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-heading/fines-mac-offence-details-review-offence-heading.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/interfaces/fines-mac-offence-details-review-summary-details-hidden.interface.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1014

#1020 Fix the imposition data being stored on the state
  src/app/components/abstract/abstract-form-array-base/abstract-form-array-base.spec.ts
  src/app/components/abstract/abstract-form-array-base/abstract-form-array-base.ts
  src/app/components/abstract/abstract-form-array-parent-base/abstract-form-array-parent-base.component.spec.ts
  src/app/components/abstract/abstract-form-array-parent-base/abstract-form-array-parent-base.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list/enums/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list.enum.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list/fines-mac-offence-details-add-an-offence-form-minor-creditor-summary-list.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor-information/fines-mac-offence-details-minor-creditor-information.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/fines-mac-offence-details-review-offence-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary-offences-total/fines-mac-offence-details-review-summary-offences-total.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1020

#1018 PO-549
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-367_accountCreation_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-443_reorderingAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-549_reviewAccountButtonEnabledAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-653_reviewAccountButtonEnabledAYPG.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-654_reviewAccountButtonEnabledCOMP.feature
  cypress/support/step_definitions/signInPage/signInTest.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/routing/constants/fines-mac-routing-nested-routes.ts
  src/app/flows/fines/fines-mac/routing/constants/fines-mac-routing-paths.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  src/app/flows/fines/fines-mac/routing/interfaces/fines-mac-routing-paths.interface.ts
  src/app/flows/fines/services/fines-service/fines.service.spec.ts
  src/app/flows/fines/services/fines-service/fines.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1018

#1023 PO-967
  src/app/components/moj/moj-badge/moj-badge.component.html
  src/app/components/moj/moj-badge/moj-badge.component.spec.ts
  src/app/components/moj/moj-badge/moj.badge.component.ts
  src/app/components/moj/moj-badge/readme.md
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1023

#1027 Code Smells (5 SC Issues)
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
  src/app/services/transformation-service/transformation.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1027

#1025 PO-815
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-815_addAnotherOffenceAdultOrYouth.feature
  cypress/support/step_definitions/manualAccountCreation/offenceSummaryTable.ts
  cypress/support/utils/dateUtils.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-minor-creditor/fines-mac-offence-details-remove-minor-creditor.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/services/fines-mac-offence-details-service/fines-mac-offence-details.service.ts
  src/app/flows/fines/services/fines-service/fines.service.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1025

#1033 PO-983
  cypress/parallel/weights/functional-parallel-weights.json
  src/app/components/govuk/govuk-table/govuk-table-body-row/govuk-table-body-row-data/govuk-table-body-row-data.component.html
  src/app/components/govuk/govuk-table/govuk-table-body-row/govuk-table-body-row-data/govuk-table-body-row-data.component.spec.ts
  src/app/components/govuk/govuk-table/govuk-table-body-row/govuk-table-body-row-data/govuk-table-body-row-data.component.ts
  src/app/components/govuk/govuk-table/govuk-table-body-row/govuk-table-body-row.component.html
  src/app/components/govuk/govuk-table/govuk-table-body-row/govuk-table-body-row.component.spec.ts
  src/app/components/govuk/govuk-table/govuk-table-body-row/govuk-table-body-row.component.ts
  src/app/components/govuk/govuk-table/govuk-table-heading/govuk-table-heading.component.html
  src/app/components/govuk/govuk-table/govuk-table-heading/govuk-table-heading.component.spec.ts
  src/app/components/govuk/govuk-table/govuk-table-heading/govuk-table-heading.component.ts
  src/app/components/govuk/govuk-table/govuk-table.component.html
  src/app/components/govuk/govuk-table/govuk-table.component.ts
  src/app/components/govuk/govuk-table/govuk-tablecomponent.spec.ts
  src/app/components/govuk/govuk-table/readme.md
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/fines-mac-offence-details-review-offence-imposition.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence-imposition/fines-mac-offence-details-review-offence-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1033

#1031 Last SC Issue
  src/app/services/transfer-state-service/transfer-state.service.spec.ts
  src/app/services/transfer-state-service/transfer-state.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1031

#1032 Po 628 630 636 accessibillity tests
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_commonScreens.feature
  cypress/support/step_definitions/signInPage/signInTest.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1032

#1026 PO-796
  cypress.config.ts
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-589_problemStatusAY.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-650_problemStatusAY-PG.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-796_paymentTermsEarliestSentenceDate.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-853_collectionOrderAutoPopulate.feature
  src/app/flows/fines/fines-mac/constants/fines-mac-status.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-field-errors.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.spec.ts
  src/app/flows/fines/services/fines-service/fines.service.spec.ts
  src/app/flows/fines/services/fines-service/fines.service.ts
  src/app/services/date-service/date.service.spec.ts
  src/app/services/date-service/date.service.ts
  src/app/validators/date-before/date-before.validator.spec.ts
  src/app/validators/date-before/date-before.validator.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1026

#1057 Po 1009 test
  cypress/e2e/functional/opal/manualAccountCreation/addOffence/PO-1009_BUG_cantDeleteLastOffence.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1057

#1064 Unit Test Failing
  src/app/flows/fines/fines-mac/fines-mac-offence-details/constants/fines-mac-offence-details-imposition-field-names.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1064

#1030 PO-563
  package.json
  src/app/components/abstract/abstract-sortable-table/abstract-sortable-table.component.spec.ts
  src/app/components/abstract/abstract-sortable-table/abstract-sortable-table.component.ts
  src/app/components/abstract/abstract-sortable-table/interfaces/abstract-sortable-table-interfaces.ts
  src/app/components/abstract/abstract-sortable-table/mocks/abstract-sortable-table-data-mock.ts
  src/app/components/abstract/abstract-sortable-table/mocks/abstract-sortable-table-existing-sort-state-mock.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table-header/moj-sortable-table-header.component.html
  src/app/components/moj/moj-sortable-table/moj-sortable-table-header/moj-sortable-table-header.component.spec.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table-header/moj-sortable-table-header.component.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table-row/moj-sortable-table-row-data/moj-sortable-table-row-data.component.html
  src/app/components/moj/moj-sortable-table/moj-sortable-table-row/moj-sortable-table-row-data/moj-sortable-table-row-data.component.spec.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table-row/moj-sortable-table-row-data/moj-sortable-table-row-data.component.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table-row/moj-sortable-table-row.component.html
  src/app/components/moj/moj-sortable-table/moj-sortable-table-row/moj-sortable-table-row.component.spec.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table-row/moj-sortable-table-row.component.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table.component.html
  src/app/components/moj/moj-sortable-table/moj-sortable-table.component.spec.ts
  src/app/components/moj/moj-sortable-table/moj-sortable-table.component.ts
  src/app/components/moj/moj-sortable-table/readme.md
  src/app/flows/fines/services/fines-service/fines.service.spec.ts
  src/app/services/sort-service/interfaces/sort-service-interface.ts
  src/app/services/sort-service/interfaces/sort-service-values.ts
  src/app/services/sort-service/mocks/sort-service-object-input-mock.ts
  src/app/services/sort-service/sort-service.spec.ts
  src/app/services/sort-service/sort-service.ts
  src/app/services/sort-service/types/sort-service-type.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1030
