Repository hmcts/opal-frontend, pull requests merged in 2024-08, with the labels that each got.

#660 Optimised code for front end
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-365_companyDetails_company.feature
  cypress/support/projectConfig/personal_details_page.ts
  cypress/support/step_definitions/manualAccountCreation/aliases.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-660

#694 PO-523
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/account_details/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-347_createAccountUserAccessOneBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-364_parentOrGuardianToPayPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-443_reorderingAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-365_companyDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-370_contactDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-371_contactDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-419_contactDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-389_courtDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/createAccount/PO-523_updateCreateAccount.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-434_employerDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-435_employerDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-436_additionalElementsPGScreen.feature
  cypress/support/step_definitions/manualAccountCreation/accountType.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/components/abstract/form-base/form-base.component.spec.ts
  src/app/components/abstract/form-base/form-base.component.ts
  src/app/components/govuk/govuk-radio/govuk-radios-item/govuk-radios-item.component.html
  src/app/components/govuk/govuk-radio/govuk-radios-item/govuk-radios-item.component.ts
  src/app/constants/account-type-defendant-types-state.ts
  src/app/constants/account-types-state.ts
  src/app/constants/index.ts
  src/app/constants/manual-account-creation-account-details-field-errors.ts
  src/app/constants/manual-account-creation-account-details-state.ts
  src/app/constants/manual-account-creation-account-type-defendant-type-control-names.ts
  src/app/interfaces/account-type-defendant-type-control-names.interface.ts
  src/app/interfaces/account-type-defendant-types.interface.ts
  src/app/interfaces/account-types.interface.ts
  src/app/interfaces/defendant-types.interface.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-account-details-state.interface.ts
  src/app/interfaces/radio-options.interface.ts
  src/app/mocks/manual-account-creation-account-details-state.mock.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account-form/create-account-form.component.html
  src/app/pages/manual-account-creation/create-account/create-account-form/create-account-form.component.spec.ts
  src/app/pages/manual-account-creation/create-account/create-account-form/create-account-form.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-694

#709 PO-468
  cypress/e2e/functional/opal/account_details/PO-468_accountNotesAndComments.feature
  cypress/parallel/weights/functional-parallel-weights.json
  multi-reporter-config.json
  package.json
  src/app/app-routing.module.ts
  src/app/constants/index.ts
  src/app/constants/manual-account-creation-account-comments-notes-state.ts
  src/app/constants/manual-account-creation-state.ts
  src/app/enums/manual-account-creation-routes.ts
  src/app/enums/routing-paths.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-account-comments-notes-state.interface.ts
  src/app/interfaces/manual-account-creation-state.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-account-comments-notes-state.mock.ts
  src/app/mocks/manual-account-creation-account-comments-notes.mock.ts
  src/app/mocks/manual-account-creation.mock.ts
  src/app/pages/manual-account-creation/account-comments-notes/account-comments-notes.component.html
  src/app/pages/manual-account-creation/account-comments-notes/account-comments-notes.component.spec.ts
  src/app/pages/manual-account-creation/account-comments-notes/account-comments-notes.component.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.html
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-709

#724 Change renovate to update outside of working hours
  .github/renovate.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-724

#729 New step definitions and refactoring
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-524_accountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/createAccount/PO-523_updateCreateAccount.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/accountType.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-729

#730 Features for PO-527 and PO-529 Court Details
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-527_courtDetails_ParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-529_courtDetails_Company.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-730

#751 Potential dupe fixes
  angular.json
  src/app/flows/fines/fines-mac/components/fines-mac-address-block/fines-mac-address-block.component.html
  src/app/flows/fines/fines-mac/components/fines-mac-address-block/fines-mac-address-block.component.spec.ts
  src/app/flows/fines/fines-mac/components/fines-mac-address-block/fines-mac-address-block.component.ts
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.html
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.spec.ts
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.ts
  src/app/flows/fines/fines-mac/components/fines-mac-national-insurance-number/fines-mac-national-insurance-number.component.html
  src/app/flows/fines/fines-mac/components/fines-mac-national-insurance-number/fines-mac-national-insurance-number.component.spec.ts
  src/app/flows/fines/fines-mac/components/fines-mac-national-insurance-number/fines-mac-national-insurance-number.component.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-751

#747 feat: Add accessibility tests for manual account creation
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/manualAccountCreation_accessibility.feature
  cypress/support/step_definitions/accessibility/accessibility.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-747

#752 Typescript duplicates as per SonarCloud
  src/app/components/abstract/abstract-form-base/abstract-form-base.component.ts
  src/app/components/abstract/abstract-form-base/interfaces/abstract-form-base-form.interface.ts
  src/app/components/abstract/abstract-form-base/interfaces/index.ts
  src/app/components/abstract/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/interfaces/fines-mac-company-details-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-contact-details/fines-mac-contact-details-form/fines-mac-contact-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-contact-details/interfaces/fines-mac-contact-details-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details-form/fines-mac-court-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/interfaces/fines-mac-court-details-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/constants/fines-mac-create-account-form.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/constants/index.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account-form/fines-mac-create-account-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account-form/fines-mac-create-account-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account-form/fines-mac-create-account-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/fines-mac-create-account-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/mocks/fines-mac-create-account-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/mocks/index.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/fines-mac-employer-details-form/fines-mac-employer-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/fines-mac-employer-details-form/fines-mac-employer-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/interfaces/fines-mac-employer-details-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/interfaces/fines-mac-parent-guardian-details-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/interfaces/fines-mac-personal-details-form.interface.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-752

#762 chore: Update sign-in page to include 'staging' in href check
  cypress/support/step_definitions/signInPage/signInTest.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-762

#741 PO-566
  cypress/e2e/functional/opal/paymentTerms/PO-566_paymentTermsAllTypes.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/manualAccountCreation_accessibility.feature
  src/app/flows/fines/fines-mac/constants/fines-mac-nested-buttons.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-options.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-state.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/index.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-may-payment-terms-options.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/mocks/fines-mac-payment-terms-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/mocks/fines-mac-payment-terms-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/mocks/index.ts
  src/app/flows/fines/fines-mac/routing/constants/fines-mac-routing-nested-routes.ts
  src/app/flows/fines/fines-mac/routing/constants/fines-mac-routing-paths.ts
  src/app/flows/fines/fines-mac/routing/index.ts
  src/app/flows/fines/fines-mac/routing/interfaces/fines-mac-routing-paths.interface.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-741

#767 Sso rollback
  charts/opal-frontend/values.stg.template.yaml
  cypress/support/step_definitions/signInPage/signInTest.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-767

#771 Fix the error which briefly shows on submission of Create Account screen
  src/app/components/alphagov/alphagov-accessible-autocomplete/alphagov-accessible-autocomplete.component.ts
  src/app/components/govuk/govuk-error-summary/govuk-error-summary.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-771

#753 PO-568
  cypress/e2e/functional/opal/account_details/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-443_reorderingAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-370_contactDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-436_additionalElementsPGScreen.feature
  src/app/flows/fines/fines-mac/fines-mac-contact-details/fines-mac-contact-details-form/fines-mac-contact-details-form.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-753

#774 Tests for PO-615
  .gitignore
  cypress/e2e/functional/opal/authorisation/PO-251_unauthorisedUser.feature
  cypress/e2e/functional/opal/authorisation/PO-615_manualAccountCreationAuth.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-774

#779 PO-566_1
  cypress/e2e/functional/opal/paymentTerms/PO-566_paymentTermsAllTypes.feature
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-779

#754 PO-567
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-365_companyDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-371_contactDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-419_contactDetails_adultOrYouth.feature
  cypress/e2e/smoke/opal/PO-224_accessibilityTests.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/manualAccountCreation_accessibility.feature
  src/app/flows/fines/fines-mac/fines-mac-contact-details/fines-mac-contact-details-form/fines-mac-contact-details-form.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-754

#789 Update yarn-audit-known-issues
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-789

#793 moving feature files to structured locations and organising step defi…
  cypress/e2e/functional/opal/accountEnquiry/PO-115_accountSearch.feature
  cypress/e2e/functional/opal/accountEnquiry/PO-116_accountMatches.feature
  cypress/e2e/functional/opal/accountEnquiry/PO-117_accounEnquirytDetails.feature
  cypress/e2e/functional/opal/accountEnquiry/PO-136_PO-137_accountHistory.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-274_navigationLinksAndButtons.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-343_manualAccountCreation.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-347_createAccountUserAccessOneBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO_279_adultAndYouthAcCreationPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-443_reorderingAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-524_accountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-468_accountNotesAndComments.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-364_parentOrGuardianToPayPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-433_addContactDetailsButton.feature
  cypress/support/step_definitions/genericSteps/buttonSteps.ts
  cypress/support/step_definitions/genericSteps/checkboxSteps.ts
  cypress/support/step_definitions/genericSteps/dateOfBirthFieldSteps.ts
  cypress/support/step_definitions/genericSteps/dropdownSteps.ts
  cypress/support/step_definitions/genericSteps/errorMessageSteps.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  cypress/support/step_definitions/genericSteps/linkSteps.ts
  cypress/support/step_definitions/genericSteps/radioButtonSteps.ts
  cypress/support/step_definitions/genericSteps/searchAutocompleteSteps.ts
  cypress/support/step_definitions/manualAccountCreation/aliases.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-793

#791 PO-557
  src/app/components/moj/index.ts
  src/app/components/moj/moj-button-menu/moj-button-menu-item/moj-button-menu-item.component.html
  src/app/components/moj/moj-button-menu/moj-button-menu-item/moj-button-menu-item.component.spec.ts
  src/app/components/moj/moj-button-menu/moj-button-menu-item/moj-button-menu-item.component.ts
  src/app/components/moj/moj-button-menu/moj-button-menu.component.html
  src/app/components/moj/moj-button-menu/moj-button-menu.component.spec.ts
  src/app/components/moj/moj-button-menu/moj-button-menu.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-791

#783 PO-426
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-343_manualAccountCreation.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-347_createAccountUserAccessOneBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO_279_adultAndYouthAcCreationPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-426_backNavigationAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-443_reorderingAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-524_accountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-468_accountNotesAndComments.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-370_contactDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-569_parentOrGuardianScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-365_companyDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-371_contactDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-419_contactDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-389_courtDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-527_courtDetails_ParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-529_courtDetails_Company.feature
  cypress/e2e/functional/opal/manualAccountCreation/createAccount/PO-523_updateCreateAccount.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-434_employerDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-435_employerDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-436_additionalElementsPGScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/paymentTerms/PO-530_paymentTermsAdultOrYouth.feature
  cypress/e2e/functional/opal/paymentTerms/PO-566_paymentTermsAllTypes.feature
  cypress/parallel/weights/functional-parallel-weights.json
  cypress/support/step_definitions/genericSteps/alertSteps.ts
  src/app/components/abstract/abstract-form-parent-base/abstract-form-parent-base.component.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/fines-mac/fines-mac.component.ts
  src/app/flows/fines/fines-mac/routing/index.ts
  src/app/guards/can-deactivate/interfaces/can-deactivate-can-component-deactivate.interface.ts
  src/app/guards/can-deactivate/interfaces/index.ts
  src/app/guards/types/can-deactivate.type.ts
  src/app/guards/types/index.ts
  src/app/interfaces/index.ts
  src/app/services/index.ts
  tsconfig.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-783

#766 PO-656
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-369_personalDetailsParentOrGuardian.feature
  src/app/flows/fines/fines-mac/components/fines-mac-name/constants/fines-mac-name-field-errors.ts
  src/app/flows/fines/fines-mac/components/fines-mac-name/constants/index.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/interfaces/fines-mac-personal-details-defendant-types.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/interfaces/index.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-766

#749 PO-464 restructure
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-464_languagePreferencesScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-465_languagePreferencesOnAccountDetails.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/manualAccountCreation_accessibility.feature
  cypress/support/step_definitions/genericSteps/radioButtonSteps.ts
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-state.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/constants/fines-mac-create-account-configuration-items.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/fines-mac-create-account-configuration-items.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/fines-mac-language-preferences-form.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/fines-mac-language-preferences-options.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/fines-mac-language-preferences-state.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/index.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.html
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/fines-mac-language-preferences-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/fines-mac-language-preferences-options.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/fines-mac-language-preferences-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/mocks/fines-mac-language-preferences-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/mocks/fines-mac-language-preferences-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/mocks/index.ts
  src/app/flows/fines/fines-mac/interfaces/fines-mac-state.interface.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/routing/index.ts
  src/app/flows/fines/services/opal-fines-service/constants/index.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-configuration-items.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/index.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-business-unit-ref-data.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-configuration-items.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-business-unit-ref-data.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-749

#748 PO-465 restructured
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-464_languagePreferencesScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-465_languagePreferencesOnAccountDetails.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/manualAccountCreation_accessibility.feature
  cypress/parallel/weights/smoke-parallel-weights.json
  cypress/support/step_definitions/genericSteps/radioButtonSteps.ts
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-business-unit-state.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-state.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/constants/fines-mac-create-account-configuration-items.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/fines-mac-create-account-configuration-items.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/fines-mac-language-preferences-form.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/fines-mac-language-preferences-options.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/fines-mac-language-preferences-state.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/constants/index.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.html
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/fines-mac-language-preferences-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/fines-mac-language-preferences-options.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/fines-mac-language-preferences-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/interfaces/index.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/mocks/fines-mac-language-preferences-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/mocks/fines-mac-language-preferences-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/mocks/index.ts
  src/app/flows/fines/fines-mac/interfaces/fines-mac-state.interface.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/routing/constants/fines-mac-routing-paths.ts
  src/app/flows/fines/fines-mac/routing/index.ts
  src/app/flows/fines/fines-mac/routing/interfaces/fines-mac-routing-paths.interface.ts
  src/app/flows/fines/services/opal-fines-service/constants/index.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-configuration-items.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/index.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-business-unit-ref-data.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-configuration-items.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-business-unit-ref-data.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-748

#770 PO-502
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-502_defendantAge_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-505_defendantAge_parentOrGuardian.feature
  cypress/support/step_definitions/genericSteps/dateOfBirthFieldSteps.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/moj/index.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel-section/moj-ticket-panel-section.component.html
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel-section/moj-ticket-panel-section.component.spec.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel-section/moj-ticket-panel-section.component.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel.component.html
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel.component.spec.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel.component.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
  src/app/services/date-service/date.service.spec.ts
  src/app/services/date-service/date.service.ts
  src/app/services/index.ts
  src/app/services/utils/utils.service.spec.ts
  src/app/services/utils/utils.service.ts
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-770
