Repository hmcts/opal-frontend, pull requests merged in 2024-09, with the labels that each got.

#811 chore: update renovate.json schedule for better maintenance window
  .github/renovate.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-811

#815 micromatch resolution removed
  package.json
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-815

#820 Update renovate schedule
  .github/renovate.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-820

#797 PO-719
  cypress/e2e/functional/opal/manualAccountCreation/routeGuards/PO-719_routeGuardRedirects.feature
  cypress/e2e/smoke/opal/PO-224_accessibilityTests.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_adultOrYouthScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_commonScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_companyScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_parentOrGuardianScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/manualAccountCreation_accessibility.feature
  cypress/parallel/weights/smoke-parallel-weights.json
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  package.json
  src/app/flows/fines/fines-mac/guards/fines-mac-flow-state/fines-mac-flow-state.guard.spec.ts
  src/app/flows/fines/fines-mac/guards/fines-mac-flow-state/fines-mac-flow-state.guard.ts
  src/app/flows/fines/fines-mac/guards/helpers/index.ts
  src/app/flows/fines/fines-mac/guards/helpers/run-fines-mac-empty-flow-guard-with-context.ts
  src/app/flows/fines/fines-mac/guards/index.ts
  src/app/flows/fines/fines-mac/routing/index.ts
  src/app/guards/can-deactivate/can-deactivate.guard.spec.ts
  src/app/guards/has-flow-state/has-flow-state.guard.spec.ts
  src/app/guards/has-flow-state/has-flow-state.guard.ts
  src/app/guards/helpers/get-guard-with-dummy-url.ts
  src/app/guards/helpers/handle-observable-result.ts
  src/app/guards/helpers/index.ts
  src/app/guards/helpers/run-auth-guard-with-context.ts
  src/app/guards/helpers/run-has-flow-state-guard-with-context.ts
  src/app/guards/index.ts
  src/app/guards/types/guard-return.type.ts
  src/app/guards/types/index.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-797

#822 Update Jenkinsfile_CNP for opal-frontend project, adding easier acces…
  Jenkinsfile_CNP
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-822

#823 Fix failing unit tests in has-flow-state and fines-mac-flow-state guards
  src/app/app.component.spec.ts
  src/app/components/govuk/govuk-back-link/govuk-back-link.component.spec.ts
  src/app/components/govuk/govuk-error-summary/govuk-error-summary.component.spec.ts
  src/app/components/govuk/govuk-header/govuk-header-navigation-item/govuk-header-navigation-item.component.spec.ts
  src/app/components/govuk/govuk-summary-card-list/govuk-summary-card-action/govuk-summary-card-action.component.spec.ts
  src/app/components/moj/moj-header/moj-header-navigation-item/moj-header-navigation-item.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes-form/fines-mac-account-comments-notes-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-contact-details/fines-mac-contact-details-form/fines-mac-contact-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-contact-details/fines-mac-contact-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details-form/fines-mac-court-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account-form/fines-mac-create-account-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/fines-mac-employer-details-form/fines-mac-employer-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/fines-mac-employer-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences-form/fines-mac-language-preferences-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-language-preferences/fines-mac-language-preferences.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details.component.spec.ts
  src/app/flows/fines/fines-mac/guards/fines-mac-flow-state/fines-mac-flow-state.guard.spec.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/guards/has-flow-state/has-flow-state.guard.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-823

#818 PO-687
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.spec.ts
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.ts
  src/app/services/date-service/date.service.spec.ts
  src/app/services/date-service/date.service.ts
  src/app/validators/over-eighteen/over-eighteen.validator.spec.ts
  src/app/validators/over-eighteen/over-eighteen.validator.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-818

#821 PO-678
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-569_parentOrGuardianScreen.feature
  cypress/parallel/weights/functional-parallel-weights.json
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  src/app/flows/fines/fines-mac/components/fines-mac-name/fines-mac-name.component.html
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/constants/fines-mac-parent-guardian-details-address-line-one-field-errors.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/constants/fines-mac-parent-guardian-details-address-line-two-field-errors.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-821

#824 Feature files for PO-499 and PO-500 created
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-367_accountCreation_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-499_commentsAndNotes_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-500_commentsAndNotes_company.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-824

#833 feat: Add "Sign in" to page body header in accessibility tests
  cypress/e2e/smoke/opal/PO-224_accessibilityTests.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-833

#828 Automation code PO-652
  cypress/e2e/functional/opal/authorisation/PO-615_manualAccountCreationAuth.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-652_CancelButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-569_parentOrGuardianScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-365_companyDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-465_languagePreferencesOnAccountDetails.feature
  cypress/parallel/weights/functional-parallel-weights.json
  cypress/support/step_definitions/accountDetails/businessUnitAndDefendantType.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-828

#835 Tests for PO-542 and PO-544
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-542_parentGuardianToPay.feature
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-544_company.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-835

#838 Adjusting failing smoke test for SSO component
  cypress/e2e/smoke/opal/PO-224_accessibilityTests.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-838

#839 Po 766 2
  src/app/components/abstract/abstract-form-base/abstract-form-base.component.spec.ts
  src/app/components/abstract/abstract-form-base/abstract-form-base.component.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-add-alias.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-address-line-one.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-address-line-two.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-aliases.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-dob.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-forenames.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-national-insurance-number.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-postcode.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-surname.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-vehicle-make.ts
  src/app/flows/fines/fines-mac/constants/controls/fines-mac-controls-vehicle-registration-mark.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/constants/controls/fines-mac-parent-guardian-details-controls-address-line-three.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/constants/controls/fines-mac-personal-details-controls-address-line-three.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/constants/controls/fines-mac-personal-details-controls-title.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-839

#855 PO-781
  cypress/support/step_definitions/modeSwitch/modeSwitch.ts
  server/api/opal-fines-service-proxy.ts
  server/api/proxy.ts
  server/stubs/sso/sso-login-callback.stub.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-paths.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-855

#859 Refactor the unit test
  src/app/services/date-service/date.service.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-859

#865 PO-755 changes required to tests
  cypress/e2e/functional/opal/manualAccountCreation/accountCreationPage/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-367_accountCreation_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-426_backNavigationAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-443_reorderingAccountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-524_accountDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountDetails/PO-652_CancelButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-468_accountNotesAndComments.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-469_commentsAndNotes_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-499_commentsAndNotes_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/accountNotesAndComments/PO-500_commentsAndNotes_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-502_defendantAge_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-370_contactDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-505_defendantAge_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-569_parentOrGuardianScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-365_companyDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/companyDetails/PO-371_contactDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-419_contactDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-389_courtDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-527_courtDetails_ParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-529_courtDetails_Company.feature
  cypress/e2e/functional/opal/manualAccountCreation/createAccount/PO-523_updateCreateAccount.feature
  cypress/e2e/functional/opal/manualAccountCreation/deleteAccount/PO-518_deleteAccountConfirmation.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-434_employerDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-435_employerDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-364_parentOrGuardianToPayPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-436_additionalElementsPGScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/routeGuards/PO-719_routeGuardRedirects.feature
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-465_languagePreferencesOnAccountDetails.feature
  cypress/e2e/functional/opal/paymentTerms/PO-432_adultOrYouthDaysInDefault.feature
  cypress/e2e/functional/opal/paymentTerms/PO-530_paymentTermsAdultOrYouth.feature
  cypress/e2e/functional/opal/paymentTerms/PO-566_paymentTermsAllTypes.feature
  cypress/e2e/functional/opal/paymentTerms/PO-648_adultOrYouthDaysInDefaultCalculator.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_adultOrYouthScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_commonScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_companyScreens.feature
  cypress/e2e/smoke/opal/accessibility/manualAccountCreation/mac_parentOrGuardianScreens.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-865

#862 PO-785
  angular.json
  cypress/e2e/functional/opal/paymentTerms/PO-432_adultOrYouthDaysInDefault.feature
  cypress/parallel/weights/smoke-parallel-weights.json
  cypress/support/step_definitions/genericSteps/dateOfBirthFieldSteps.ts
  cypress/support/step_definitions/genericSteps/datePickerSteps.ts
  package.json
  src/app/components/moj/index.ts
  src/app/components/moj/moj-date-picker/moj-date-picker.component.html
  src/app/components/moj/moj-date-picker/moj-date-picker.component.spec.ts
  src/app/components/moj/moj-date-picker/moj-date-picker.component.ts
  src/app/components/scotgov/index.ts
  src/app/components/scotgov/scotgov-date-picker/scotgov-date-picker.component.html
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.html
  src/app/flows/fines/fines-mac/components/fines-mac-date-of-birth/fines-mac-date-of-birth.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/type.d.ts
  tsconfig.json
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-862

#866 PO-787
  cypress/parallel/weights/functional-parallel-weights.json
  server/api/opal-fines-service-proxy.ts
  server/api/proxy.ts
  server/interfaces/securityToken.ts
  server/interfaces/userState.ts
  server/session.d.ts
  server/session/expiry.ts
  server/session/user-state.ts
  server/sso/sso-authenticated.ts
  server/sso/sso-logout.ts
  server/stubs/sso/sso-authenticated.stub.ts
  src/app/flows/fines/fines-mac/constants/fines-mac-business-unit-state.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-paths.constant.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-business-unit-ref-data.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-court-ref-data.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-defendant-account-details.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-defendant-account-note.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-local-justice-area-ref-data.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-search-defendant-accounts.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-business-unit-ref-data.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-court-ref-data.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-defendant-account-details.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-defendant-account-note.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-defendant-account-notes.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-local-justice-area-ref-data.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-search-defendant-accounts.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/services/permissions-service/permissions.service.ts
  src/app/services/session-service/interfaces/session-user-state.interface.ts
  src/app/services/session-service/mocks/session-user-state.mock.ts
  src/app/services/session-service/session.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-866

#873 small test fixes
  cypress/e2e/functional/opal/paymentTerms/PO-588_AY-PGDaysInDefault.feature
  cypress/support/step_definitions/signInPage/signInTest.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-873

#886 Updated MANUAL_ACCOUNT_CREATION to CREATE_MANAGE_DRAFT_ACCOUNTS
  cypress/e2e/functional/opal/manualAccountCreation/welshLanguages/PO-465_languagePreferencesOnAccountDetails.feature
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-886

#884 Test optimisations
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-370_contactDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-569_parentOrGuardianScreen.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-429_adultOrYouthAdditionalFields.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-432_adultOrYouthDaysInDefault.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-530_paymentTermsAdultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-566_paymentTermsAllTypes.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-587_AY-PGAdditionalFields.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-588_AY-PGDaysInDefault.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-592_companyAdditionalFields.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-648_adultOrYouthDaysInDefaultCalculator.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-369_personalDetailsParentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-502_defendantAge_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-505_defendantAge_parentOrGuardian.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-884

#875 PO-471
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-429_adultOrYouthAdditionalFields.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-432_adultOrYouthDaysInDefault.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-471_collectionOrder_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-587_AY-PGAdditionalFields.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-588_AY-PGDaysInDefault.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-592_companyAdditionalFields.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-649_collectionOrder_AY-PG.feature
  cypress/e2e/functional/opal/manualAccountCreation/personalDetails/PO-360_personalDetails.feature
  cypress/support/step_definitions/manualAccountCreation/daysInDefaultCalculator.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-add-enforcement-action.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-days-in-default-date.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-days-in-default.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-frequency.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-has-days-in-default.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-hold-enforcement-on-account.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-hold-enforcement-reason.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-instalment.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-lump-sum.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-pay-by-date.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-payment-terms.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-request-card-payment.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/controls/fines-mac-payment-terms-controls-start-date.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-collection-order-options-control-validation.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-default-days-control-validation.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-field-errors.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-instalments-only-control-validation.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-lump-sum-control-validation.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-pay-in-full-control-validation.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-state.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/enums/fines-mac-payment-terms-permissions.enum.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-all-payment-term-options-control-validation.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-collection-order-options-control-validation.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-company-enforcement-control-validation.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-default-days-control-validation.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-field-errors.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-payment-term-options-control-validation.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-permissions.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/mocks/fines-mac-payment-terms-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
  src/app/services/date-service/date.service.ts
  src/app/validators/date-after-year/date-after-year.validator.spec.ts
  src/app/validators/date-after-year/date-after-year.validator.ts
  src/app/validators/future-date/future-date.validator.spec.ts
  src/app/validators/future-date/future-date.validator.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-875

#885 PO-803 Use Labels to Choose tests
  Jenkinsfile_CNP
  cypress/e2e/functional/opal/reciprocalMaintenance/dummyTest.feature
  package.json
Labels: ns:opal, prd:opal, test_remo, rel:opal-frontend-pr-885

#909 chore: Remove schedule from renovate.json
  .github/renovate.json
Labels: ns:opal, prd:opal, test_remo, rel:opal-frontend-pr-909

#881 PO-548
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-432_adultOrYouthDaysInDefault.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-548_enforcementActionAdultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/paymentTerms/PO-590_enforcementActionAY-PG.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  cypress/support/step_definitions/genericSteps/radioButtonSteps.ts
  src/app/components/govuk/govuk-radio/govuk-radio.component.html
  src/app/components/govuk/govuk-radio/govuk-radio.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-enforcement-action-options-control-validation.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-enforcement-action-options.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-field-errors.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-state.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-enforcement-actions-options.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-enforcment-actions-options-control-validation.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-field-errors.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/interfaces/fines-mac-payment-terms-state.interface.ts
  src/app/validators/past-date/past-date.validator.spec.ts
  src/app/validators/past-date/past-date.validator.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-881
