Repository hmcts/opal-frontend, pull requests merged in 2024-07, with the labels that each got.

#610 Change cookies from lax to strict
  server/csrf-token/csrf-token.ts
  server/session/session-storage.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-610

#611 New branch for PO-360 automation tests
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-364_parentOrGuardianToPayPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/support/projectConfig/contact_details_page.ts
  cypress/support/projectConfig/personal_details_page.ts
  cypress/support/step_definitions/genericSteps/geneticSteps.ts
  cypress/support/step_definitions/manualAccountCreation/aliases.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-611

#597 PO-433
  cypress/e2e/functional/opal/PO-115_accountSearch.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-364_parentOrGuardianToPayPage.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/constants/common/national-insurance-field-errors.ts
  src/app/constants/index.ts
  src/app/constants/manual-account-creation-account-status.ts
  src/app/constants/manual-account-creation-nested-routes.ts
  src/app/constants/manual-account-creation-personal-details-state.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-account-status.interface.ts
  src/app/interfaces/manual-account-creation-field-types.interface.ts
  src/app/interfaces/manual-account-creation-personal-details-form.interface.ts
  src/app/interfaces/manual-account-creation-personal-details-state.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-personal-details-form.mock.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.html
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.html
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.spec.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.ts
  src/app/pages/manual-account-creation/personal-details/personal-details.component.spec.ts
  src/app/pages/manual-account-creation/personal-details/personal-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-597

#603 PO-369
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/account_details/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-369_personalDetailsParentOrGuardian.feature
  cypress/support/step_definitions/manualAccountCreation/aliases.ts
  src/app/constants/manual-account-creation-nested-routes.ts
  src/app/pages/manual-account-creation/offence-details/offence-details.component.html
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.html
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.spec.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.ts
  src/app/validators/alphabetical-text/alphabetical-text.validator.spec.ts
  src/app/validators/alphabetical-text/alphabetical-text.validator.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-603

#624 Parallel test execution for front end tests
  .gitignore
  Jenkinsfile_CNP
  cypress.config.ts
  cypress/e2e/functional/opal/manualAccountCreation/PO-346_Business_Unit_And_Defendant_type.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/parallel/weights/functional-parallel-weights.json
  cypress/parallel/weights/smoke-parallel-weights.json
  multi-reporter-config.json
  package.json
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-624

#639 chore: update sameSite attribute in session storage configuration
  server/session/session-storage.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-639

#641 chore: update session and CSRF sameSite attribute to 'lax'
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.stg.template.yaml
  charts/opal-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  server/csrf-token/csrf-token.ts
  server/session/session-storage.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-641

#623 PO-419
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/account_details/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-280_employerDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-368_employerDetails_parentAndGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-377_createAccountUserAccessMultipleBU.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-369_personalDetailsParentOrGuardian.feature
  cypress/support/projectConfig/contact_details_page.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/constants/manual-account-creation-contact-details-field-errors.ts
  src/app/constants/manual-account-creation-contact-details-state.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-contact-details-form.interface.ts
  src/app/interfaces/manual-account-creation-contact-details-state.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-contact-details-form.mock.ts
  src/app/mocks/manual-account-creation-contact-details-state.mock.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.html
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-623

#647 duplication issues on master
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  src/app/components/custom/custom-address-block/custom-address-block.component.html
  src/app/components/custom/custom-address-block/custom-address-block.component.spec.ts
  src/app/components/custom/custom-address-block/custom-address-block.component.ts
  src/app/components/custom/custom-date-of-birth/custom-date-of-birth.component.html
  src/app/components/custom/custom-date-of-birth/custom-date-of-birth.component.spec.ts
  src/app/components/custom/custom-date-of-birth/custom-date-of-birth.component.ts
  src/app/components/custom/custom-national-insurance-number/custom-national-insurance-number.component.html
  src/app/components/custom/custom-national-insurance-number/custom-national-insurance-number.component.spec.ts
  src/app/components/custom/custom-national-insurance-number/custom-national-insurance-number.component.ts
  src/app/components/index.ts
  src/app/constants/common/custom-address-field-ids.ts
  src/app/constants/index.ts
  src/app/interfaces/custom-address-field-ids.ts
  src/app/interfaces/index.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.html
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details-form/parent-guardian-details-form.component.html
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details-form/parent-guardian-details-form.component.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.html
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-647

#648 Po 370 371 tests
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-358_contactDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-370_contactDetails_parentOrGuardian.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-371_contactDetails_company.feature
  cypress/e2e/functional/opal/manualAccountCreation/contactDetails/PO-419_contactDetails_adultOrYouth.feature
  cypress/parallel/weights/functional-parallel-weights.json
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  package.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-648

#655 migrating to cypress esbuild preprocessor
  cypress.config.ts
  cypress/support/step_definitions/accessibility/accessibility.ts
  cypress/support/step_definitions/accountDetails/accountDetailsPage.ts
  cypress/support/step_definitions/accountDetails/businessUnitAndDefendantType.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/aliases.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  cypress/support/step_definitions/modeSwitch/modeSwitch.ts
  cypress/support/step_definitions/signInPage/signInTest.ts
  cypress/support/step_definitions/signInPage/signOutTest.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-655

#656 Po 522 2
  .yarn/releases/yarn-3.8.3.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-656

#659 backing down to single thread
  cypress/parallel/weights/functional-parallel-weights.json
  cypress/support/step_definitions/signInPage/signInTest.ts
  package.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-659

#663 reducing test time
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-360_personalDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthOnly/PO-433_addContactDetailsButton.feature
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-369_personalDetailsParentOrGuardian.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-663

#664 two threads for functional tests
  package.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-664

#620 PO-493
  config/default.json
  server/routes.ts
  server/session/expiry.ts
  server/session/index.ts
  server/utils/jwt.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/enums/session-endpoints.ts
  src/app/interfaces/index.ts
  src/app/interfaces/token-expiry.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/token-expiry.mock.ts
  src/app/services/app-initializer-service/app-initializer.service.spec.ts
  src/app/services/app-initializer-service/app-initializer.service.ts
  src/app/services/global-state-service/global-state.service.ts
  src/app/services/index.ts
  src/app/services/session-service/session.service.spec.ts
  src/app/services/session-service/session.service.ts
  src/app/services/utils/utils.service.spec.ts
  src/app/services/utils/utils.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-620

#658 PO-514 & PO-513 combined
  src/app/components/govuk/govuk-text-area/govuk-text-area.component.html
  src/app/components/govuk/govuk-text-area/govuk-text-area.component.spec.ts
  src/app/components/govuk/govuk-text-area/govuk-text-area.component.ts
  src/app/components/index.ts
  src/app/pages/account-enquiry/search/search-form/search-form.component.html
  src/app/pages/account-enquiry/search/search-form/search-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-658

#677 Po 389 2
  .gitignore
  cypress/e2e/functional/opal/account_details/PO-366_updateAccountDetails.feature
  cypress/e2e/functional/opal/account_details/PO-367_accountCreation_parentOrGaurdian.feature
  cypress/e2e/functional/opal/manualAccountCreation/PO-362_companyTaskList.feature
  cypress/e2e/functional/opal/manualAccountCreation/courtDetails/PO-389_courtDetails_adultOrYouth.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  multi-reporter-config.json
  src/app/app-routing.module.ts
  src/app/components/alphagov/alphagov-accessible-autocomplete/alphagov-accessible-autocomplete.component.html
  src/app/constants/api-paths.ts
  src/app/constants/index.ts
  src/app/constants/manual-account-creation-business-unit-state.ts
  src/app/constants/manual-account-creation-court-details-field-errors.ts
  src/app/constants/manual-account-creation-court-details-state.ts
  src/app/constants/manual-account-creation-state.ts
  src/app/enums/routing-paths.ts
  src/app/interfaces/business-unit-ref-data.interface.ts
  src/app/interfaces/court-ref-data.interface.ts
  src/app/interfaces/index.ts
  src/app/interfaces/local-justice-area-ref-data.interface.ts
  src/app/interfaces/manual-account-creation-contact-details-form.interface.ts
  src/app/interfaces/manual-account-creation-court-details-form.interface.ts
  src/app/interfaces/manual-account-creation-court-details-state.interface.ts
  src/app/interfaces/manual-account-creation-personal-details-form.interface.ts
  src/app/interfaces/manual-account-creation-state.interface.ts
  src/app/mocks/court-autocomplete-items.mock.ts
  src/app/mocks/court-ref-data.mock.ts
  src/app/mocks/index.ts
  src/app/mocks/local-justice-area-autocomplete-items.mock.ts
  src/app/mocks/local-justice-area-ref-data.mock.ts
  src/app/mocks/manual-account-creation-contact-details-form.mock.ts
  src/app/mocks/manual-account-creation-court-details-form.mock.ts
  src/app/mocks/manual-account-creation-court-details-state.mock.ts
  src/app/mocks/manual-account-creation-personal-details-form.mock.ts
  src/app/mocks/manual-account-creation.mock.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.html
  src/app/pages/manual-account-creation/account-details/account-details.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.html
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.spec.ts
  src/app/pages/manual-account-creation/contact-details/contact-details.component.ts
  src/app/pages/manual-account-creation/court-details/court-details-form/court-details-form.component.html
  src/app/pages/manual-account-creation/court-details/court-details-form/court-details-form.component.spec.ts
  src/app/pages/manual-account-creation/court-details/court-details-form/court-details-form.component.ts
  src/app/pages/manual-account-creation/court-details/court-details.component.html
  src/app/pages/manual-account-creation/court-details/court-details.component.spec.ts
  src/app/pages/manual-account-creation/court-details/court-details.component.ts
  src/app/pages/manual-account-creation/create-account/create-account.component.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.html
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.spec.ts
  src/app/pages/manual-account-creation/personal-details/personal-details-form/personal-details-form.component.ts
  src/app/pages/manual-account-creation/personal-details/personal-details.component.spec.ts
  src/app/pages/manual-account-creation/personal-details/personal-details.component.ts
  src/app/services/business-unit/business-unit.service.ts
  src/app/services/court-service/court.service.spec.ts
  src/app/services/court-service/court.service.ts
  src/app/services/index.ts
  src/app/services/local-justice-area-service/local-justice-area.service.spec.ts
  src/app/services/local-justice-area-service/local-justice-area.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-677

#635 PO-443
  cypress/e2e/functional/opal/manualAccountCreation/adultOrYouthWithParentOrGuardian/PO-443_reorderingAccountDetails.feature
  cypress/support/step_definitions/genericSteps/alertSteps.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  src/app/pages/manual-account-creation/account-details/account-details.component.html
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-635

#636 PO-434
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-434_employerDetails_adultOrYouth.feature
  cypress/e2e/functional/opal/manualAccountCreation/employerDetails/PO-435_employerDetails_parentOrGuardian.feature
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-company-details-form.interface.ts
  src/app/interfaces/manual-account-creation-employer-details-form.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-company-details-form.mock.ts
  src/app/mocks/manual-account-creation-employer-details-form.mock.ts
  src/app/pages/manual-account-creation/company-details/company-details-form/company-details-form.component.html
  src/app/pages/manual-account-creation/company-details/company-details-form/company-details-form.component.spec.ts
  src/app/pages/manual-account-creation/company-details/company-details-form/company-details-form.component.ts
  src/app/pages/manual-account-creation/company-details/company-details.component.spec.ts
  src/app/pages/manual-account-creation/company-details/company-details.component.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.spec.ts
  src/app/pages/manual-account-creation/employer-details/employer-details-form/employer-details-form.component.html
  src/app/pages/manual-account-creation/employer-details/employer-details-form/employer-details-form.component.spec.ts
  src/app/pages/manual-account-creation/employer-details/employer-details-form/employer-details-form.component.ts
  src/app/pages/manual-account-creation/employer-details/employer-details.component.html
  src/app/pages/manual-account-creation/employer-details/employer-details.component.spec.ts
  src/app/pages/manual-account-creation/employer-details/employer-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-636

#638 PO-436
  cypress/e2e/functional/opal/manualAccountCreation/parentGuardianDetails/PO-436_additionalElementsPGScreen.feature
  src/app/constants/manual-account-creation-parent-guardian-details-field-errors.ts
  src/app/constants/manual-account-creation-parent-guardian-details-state.ts
  src/app/interfaces/index.ts
  src/app/interfaces/manual-account-creation-parent-guardian-details-state.interface.ts
  src/app/interfaces/manual-account-creation-parent-guardian-form.interface.ts
  src/app/mocks/index.ts
  src/app/mocks/manual-account-creation-parent-guardian-details-form.mock.ts
  src/app/mocks/manual-account-creation-parent-guardian-details-state.mock.ts
  src/app/pages/manual-account-creation/contact-details/contact-details-form/contact-details-form.component.spec.ts
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details-form/parent-guardian-details-form.component.html
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details-form/parent-guardian-details-form.component.spec.ts
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details-form/parent-guardian-details-form.component.ts
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details.component.spec.ts
  src/app/pages/manual-account-creation/parent-guardian-details/parent-guardian-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-638

#685 Update court-details-form.component.spec.ts
  src/app/pages/manual-account-creation/court-details/court-details-form/court-details-form.component.spec.ts
  src/app/pages/manual-account-creation/court-details/court-details.component.html
  src/app/pages/manual-account-creation/court-details/court-details.component.spec.ts
  src/app/pages/manual-account-creation/court-details/court-details.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-685

#683 persist weights
  .gitignore
  Jenkinsfile_CNP
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-683

#678 PO-550
  src/app/components/govuk/govuk-details/govuk-details.component.html
  src/app/components/govuk/govuk-details/govuk-details.component.spec.ts
  src/app/components/govuk/govuk-details/govuk-details.component.ts
  src/app/components/index.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-678

#679 PO-551
  src/app/components/govuk/govuk-panel/govuk-panel.component.html
  src/app/components/govuk/govuk-panel/govuk-panel.component.spec.ts
  src/app/components/govuk/govuk-panel/govuk-panel.component.ts
  src/app/components/index.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-679

#680 PO-552
  src/app/components/index.ts
  src/app/components/moj/moj-timeline/moj-timeline-item/moj-timeline-item.component.html
  src/app/components/moj/moj-timeline/moj-timeline-item/moj-timeline-item.component.spec.ts
  src/app/components/moj/moj-timeline/moj-timeline-item/moj-timeline-item.component.ts
  src/app/components/moj/moj-timeline/moj-timeline.component.html
  src/app/components/moj/moj-timeline/moj-timeline.component.spec.ts
  src/app/components/moj/moj-timeline/moj-timeline.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-680

#684 PO-553
  src/app/components/index.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel-section/moj-ticket-panel-section.component.html
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel-section/moj-ticket-panel-section.component.spec.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel-section/moj-ticket-panel-section.component.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel.component.html
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel.component.spec.ts
  src/app/components/moj/moj-ticket-panel/moj-ticket-panel.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-684
