Repository hmcts/opal-frontend, pull requests merged in 2025-06, with the labels that each got.

#1507 automation tests for PO-600
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateRejected.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateToReview.cy.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1507

#1513 Update configurationItems to configuration_items
  src/app/flows/fines/fines-mac/constants/fines-mac-business-unit-state.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-business-unit.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-business-unit.utils.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-business-unit-ref-data.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-business-unit-ref-data.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1513

#1517 Fixed for the moj-alert and bug ticket fixed as well
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_cav_elements.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/mocks/fines_draft_validate_over_25_account_mock.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/constants/fines_draft_cam_inputter_elements.ts
  cypress/parallel/weights/smoke-parallel-weights.json
  cypress/support/step_definitions/apiSteps/draftAccounts/triggerErrors.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  multi-reporter-config.json
  src/app/app.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/constants/fines-mac-offence-details-minor-creditor-state.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/interfaces/fines-mac-offence-details-minor-creditor-state.interface.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-offences.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-offences.utils.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/interfaces/fines-mac-payload-account-offences.interface.ts
  yarn-audit-known-issues
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1517

#1485 PO-1817
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_cav_elements.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/mocks/fines_draft_validate_over_25_account_mock.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/constants/fines_draft_cam_inputter_elements.ts
  cypress/parallel/weights/smoke-parallel-weights.json
  cypress/support/step_definitions/apiSteps/draftAccounts/triggerErrors.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  multi-reporter-config.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.html
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-base.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant-company.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant-individual.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-defendant-parent-guardian.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-offences.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-offences.utils.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-payment-terms.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-defendant-parent-guardian.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-offences.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/interfaces/fines-mac-payload-account-offences.interface.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1485

#1491 PO 597
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_cam_checker_tableConstants.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_review_account_elements.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageApproved.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageRejected.cy.ts
  cypress/component/manualAccountCreation/FinesMacDeleteAccountConfirmation/DeletedAccountConfirmation.cy.ts
  cypress/component/manualAccountCreation/FinesMacDeleteAccountConfirmation/FinesMacDeleteAccountConfirmation.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ReviewAccountRejectApprove.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ReviewAccountRejected.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ViewAccountFailed.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ViewAccountRejected.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/finesMacReviewAccount.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidate/checkAndValidate.feature
  cypress/e2e/functional/opal/manualAccountCreation/chekcAndValidateDrfatAccounts/checkAndValidateDraftAccounts.feature
  cypress/support/step_definitions/genericSteps/alertSteps.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  package.json
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.html
  src/app/flows/fines/fines-mac/constants/fines-mac-state.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/constants/fines-mac-delete-account-confirmation-field-errors.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/constants/fines-mac-delete-account-confirmation-form.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/constants/fines-mac-delete-account-confirmation-state.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation-form/fines-mac-delete-account-confirmation-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation-form/fines-mac-delete-account-confirmation-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation-form/fines-mac-delete-account-confirmation-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.html
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/interfaces/fines-mac-delete-account-confirmation-field-errors.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/interfaces/fines-mac-delete-account-confirmation-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/interfaces/fines-mac-delete-account-confirmation-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/mocks/fines-mac-delete-account-confirmation-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/mocks/fines-mac-delete-account-confirmation-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-decision/fines-mac-review-account-decision-form/fines-mac-review-account-decision-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-decision/fines-mac-review-account-decision-form/fines-mac-review-account-decision-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-decision/fines-mac-review-account-decision.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-decision/fines-mac-review-account-decision.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/interfaces/fines-mac-state.interface.ts
  src/app/flows/fines/fines-mac/mocks/fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/interfaces/fines-mac-payload-delete-account-confirmation.interface.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/mocks/state/fines-mac-payload-delete-account-confirmation-state.mock.ts
  src/app/flows/fines/fines-mac/stores/fines-mac.store.spec.ts
  src/app/flows/fines/fines-mac/stores/fines-mac.store.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-patch-delete-account-payload.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1491

#1506 PO-603
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ViewAccountDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/mock_fines_draft_state_delete.ts
  cypress/e2e/functional/opal/manualAccountCreation/chekcAndValidateDrfatAccounts/checkAndValidateDraftAccounts.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1506

#1530 PO-1859
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateRejected.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidate/checkAndValidateAccessibility.feature
  cypress/parallel/weights/functional-parallel-weights.json
  src/app/flows/fines/fines-draft/stores/constants/fines-draft-store-banner-messages.constant.ts
  src/app/flows/fines/fines-draft/stores/fines-draft.store.spec.ts
  src/app/flows/fines/fines-draft/stores/fines-draft.store.ts
  src/app/flows/fines/fines-draft/stores/types/fines-draft-banner.type.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation-form/fines-mac-delete-account-confirmation-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-decision/fines-mac-review-account-decision.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-decision/fines-mac-review-account-decision.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-failed-banner/constant/fines-mac-review-account-failed-banner-message.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-failed-banner/fines-mac-review-account-failed-banner.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-failed-banner/fines-mac-review-account-failed-banner.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-failed-banner/fines-mac-review-account-failed-banner.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1530
