Repository hmcts/opal-frontend, pull requests merged in 2025-09, with the labels that each got.

#1643 PO 1809
  cypress/component/manualAccountCreation/FinesFixedPenalty/FinesMacManualFixedPenalty/mocks/fines_mac_fixed_penalty_mock.ts
  cypress/component/manualAccountCreation/FinesMacAccountDetails/mocks/fines_mac_rejected_account_mock.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ReviewAccountRejected.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/fines_mac_review_account_mocks.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/mock_fines_draft_state.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/mock_fines_draft_state_delete.ts
  cypress/e2e/functional/opal/manualAccountCreation/fixedPenalty/fixedPenalty.feature
  cypress/support/step_definitions/manualAccountCreation/manualAccountCreation.ts
  cypress/support/step_definitions/manualAccountCreation/manualFixedPenalty.ts
  src/app/flows/fines/fines-draft/constants/fines-draft-state.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-view-all-rejected/fines-draft-create-and-manage-view-all-rejected.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-view-all-rejected/fines-draft-create-and-manage-view-all-rejected.component.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.html
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.ts
  src/app/flows/fines/fines-draft/stores/fines-draft.store.ts
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-fixed-penalty-details/fines-mac-fixed-penalty-details-form/fines-mac-fixed-penalty-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-fixed-penalty-details/fines-mac-fixed-penalty-details-form/fines-mac-fixed-penalty-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-fixed-penalty-details/fines-mac-fixed-penalty-details-form/fines-mac-fixed-penalty-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-map-fines-mac-payload-resolver/fetch-map-fines-mac-payload.resolver.spec.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-map-fines-mac-payload-resolver/fetch-map-fines-mac-payload.resolver.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-map-fines-mac-payload-resolver/interfaces/fetch-map-fines-mac-payload.interface.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/interfaces/fines-mac-payload-add-account.interfaces.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account-fixed-penalty.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-draft-add-account-payload.mock.ts
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-1643

#1725 PO-2076
  cypress/component/fineAccountEnquiry/searchAndMatches/SearchAndMatchesAccountNumber.cy.ts
  cypress/component/fineAccountEnquiry/searchAndMatches/SearchAndMatchesCompany.cy.ts
  cypress/component/fineAccountEnquiry/searchAndMatches/SearchAndMatchesIndividuals.cy.ts
  cypress/component/fineAccountEnquiry/searchAndMatches/SearchAndMatchesMinorCreditors.cy.ts
  cypress/component/fineAccountEnquiry/searchResults/SearchResultsIndividuals.cy.ts
  cypress/component/fineAccountEnquiry/searchResults/mocks/search_results_companies_mock.ts
  cypress/component/fineAccountEnquiry/searchResults/mocks/search_results_individuals_mock.ts
  cypress/component/fineAccountEnquiry/searchResults/mocks/search_results_sorting_companies_mock.ts
  cypress/component/fineAccountEnquiry/searchResults/mocks/search_results_sorting_mock.ts
  cypress/e2e/functional/opal/fineAccountEnquiry/searchAndMatches/searchAndMatches.feature
  cypress/support/step_definitions/accountSearch/accountSearch.ts
  cypress/support/step_definitions/searchAndMatches/searchAndMatches.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-sa/fines-sa-results/fines-sa-results.component.spec.ts
  src/app/flows/fines/fines-sa/fines-sa-results/fines-sa-results.component.ts
  src/app/flows/fines/fines-sa/fines-sa-search/fines-sa-search-account/fines-sa-search-account-form/fines-sa-search-account-form-companies/constants/fines-sa-search-account-form-companies-state.constant.ts
  src/app/flows/fines/fines-sa/fines-sa-search/fines-sa-search-account/fines-sa-search-account-form/fines-sa-search-account-form-companies/interfaces/fines-sa-search-account-form-companies-state.interface.ts
  src/app/flows/fines/fines-sa/fines-sa-search/fines-sa-search-account/fines-sa-search-account-form/fines-sa-search-account-form-minor-creditors/constants/fines-sa-search-account-form-minor-creditors-state.constant.ts
  src/app/flows/fines/fines-sa/fines-sa-search/fines-sa-search-account/fines-sa-search-account-form/fines-sa-search-account-form-minor-creditors/interfaces/fines-sa-search-account-form-minor-creditors-state.interface.ts
  src/app/flows/fines/fines-sa/routing/fines-sa.routes.ts
  src/app/flows/fines/fines-sa/routing/resolvers/fines-sa-defendant-accounts/fines-sa-defendant-accounts.resolver.spec.ts
  src/app/flows/fines/fines-sa/routing/resolvers/fines-sa-defendant-accounts/fines-sa-defendant-accounts.resolver.ts
  src/app/flows/fines/fines-sa/routing/resolvers/fines-sa-minor-creditor-accounts/fines-sa-minor-creditor-accounts.resolver.spec.ts
  src/app/flows/fines/fines-sa/routing/resolvers/fines-sa-minor-creditor-accounts/fines-sa-minor-creditor-accounts.resolver.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-creditor-account-search-params-defaults.constant.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-defendant-account-search-params-defaults.constant.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-paths.constant.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-creditor-accounts-search-params.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-defendant-account-search-params.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-defendant-account.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-paths.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-creditor-account-search-params.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-defendant-account-response-company.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-defendant-account-response-individual.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-defendant-account-search-params.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-1725

#1780 PO-1806
  .gitignore
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateFailed.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateRejected.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateToReview.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/mocks/check-and-validate-session-mock.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/mocks/create-and-manage-intercepts.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/mocks/fines-draft-session-mock.ts
  cypress/component/manualAccountCreation/FinesFixedPenalty/FinesMacReviewFixedPenalty/FinesMacReviewFixedPenalty.cy.ts
  cypress/component/manualAccountCreation/FinesFixedPenalty/FinesMacReviewFixedPenalty/mocks/fines_mac_review_fixed_penalty_company_data_mock.ts
  cypress/component/manualAccountCreation/FinesFixedPenalty/FinesMacReviewFixedPenalty/mocks/fines_mac_review_fixed_penalty_data_mock.ts
  cypress/component/manualAccountCreation/FinesFixedPenalty/mocks/user_state_mock.ts
  cypress/component/manualAccountCreation/FinesMacDeleteAccountConfirmation/DeletedAccountConfirmation.cy.ts
  cypress/component/manualAccountCreation/FinesMacPaymentTerms/mocks/fines-payment-terms-session-user-mock.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/ReviewAccountRejectApprove.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/finesMacReviewAccount.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/check-and-validate-session-mock.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/user_state_mock.ts
  cypress/component/pages/Dashboard/mocks/cam_cav_dashboard_user_state_mock.ts
  cypress/component/pages/Dashboard/mocks/cam_dashboard_user_state_mock.ts
  cypress/component/pages/Dashboard/mocks/cav_dashboard_user_state_mock.ts
  cypress/component/pages/Dashboard/mocks/no_perms_dashboard_user_state_mock.ts
  package.json
  server-setup.ts
  server.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-rejected-count.resolver.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-rejected-count.resolver.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-view-all-rejected.resolver.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-view-all-rejected.resolver.ts
  src/app/flows/fines/fines-draft/routing/resolvers/fines-draft-tab.resolver.spec.ts
  src/app/flows/fines/fines-draft/routing/resolvers/fines-draft-tab.resolver.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-payment-terms/fines-mac-review-account-payment-terms.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account-fixed-penalty.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account.mock.ts
  src/app/pages/dashboard/dashboard.component.html
  yarn.lock
Labels: ns:opal, prd:opal, enable_keep_helm, rel:opal-frontend-pr-1780

#1797 Update chart value times for staging and values
  charts/opal-frontend/Chart.yaml
  charts/opal-frontend/values.dev.template.yaml
  charts/opal-frontend/values.stg.template.yaml
  charts/opal-frontend/values.yaml
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1797

#1808 PO-2237 - Standardizes Azure AD secret keys naming convention
  .gitignore
  config/custom-environment-variables.json
  config/default.json
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1808

#1786 Updates `version` fields to use strings consistently
  .vscode/settings.json
  cypress/component/manualAccountCreation/FinesMacAccountDetails/mocks/fines_mac_rejected_account_mock.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/mock_fines_draft_state.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/mock_fines_draft_state_delete.ts
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidateDraftAccounts/checkAndValidateDraftAccounts.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidateDraftAccounts/draftAccountsConcurrency.feature
  cypress/e2e/functional/opal/manualAccountCreation/chekcAndValidateDrfatAccounts/checkAndValidateDraftAccounts.feature
  cypress/support/draftAccounts.ts
  cypress/support/step_definitions/apiSteps/draftAccounts/addDraftAccount.ts
  cypress/support/step_definitions/submitForReview/submitForReview.ts
  package.json
  src/app/flows/fines/fines-draft/stores/fines-draft.store.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-delete-account-confirmation/fines-mac-delete-account-confirmation.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/interfaces/fines-mac-payload-add-account.interfaces.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account-fixed-penalty.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account.mock.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-draft-account.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-draft-accounts-patch-payload.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-draft-add-account-payload.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-patch-delete-account-payload.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
  yarn.lock
Labels: ns:opal, prd:opal, enable_keep_helm, enable_opal_fines_service:pr-1139, rel:opal-frontend-pr-1786
