Repository hmcts/opal-frontend, pull requests merged in 2025-05, with the labels that each got.

#1374 PO-1450
  cypress/component/manualAccountCreation/FinesMacCompanyDetails/FinesMacCompanyDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacCourtDetails/FinesMacCourtDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/MinorCreditor/MinorCreditor.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/CompanyDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/ParentGuardianDetails.feature
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1374

#1373 PO-1449
  cypress/component/manualAccountCreation/FinesMacCompanyDetails/FinesMacCompanyDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacCourtDetails/FinesMacCourtDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacEmployerDetails/FinesMacEmployerDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/MinorCreditor/MinorCreditor.cy.ts
  cypress/component/manualAccountCreation/FinesMacParentGuardianDetails/FinesMacParentGuardianDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacPersonalDetails/FinesMacPersonalDetails.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/CompanyDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/ParentGuardianDetails.feature
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1373

#1406 increase resources for fines service and postgres in staging.staging
  charts/opal-frontend/values.stg.template.yaml
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1406

#1383 fix: add missing comma in properties block of Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1383

#1372 PO-1448
  cypress/component/manualAccountCreation/FinesMacCompanyDetails/FinesMacCompanyDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacCourtDetails/FinesMacCourtDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacEmployerDetails/FinesMacEmployerDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/MinorCreditor/MinorCreditor.cy.ts
  cypress/component/manualAccountCreation/FinesMacParentGuardianDetails/FinesMacParentGuardianDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacPersonalDetails/FinesMacPersonalDetails.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/CompanyDetails.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/ParentGuardianDetails.feature
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-company-details/fines-mac-company-details-form/fines-mac-company-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-company-details/mocks/fines-mac-company-details-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details-form/fines-mac-court-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details-form/fines-mac-court-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/fines-mac-employer-details-form/fines-mac-employer-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-employer-details/fines-mac-employer-details-form/fines-mac-employer-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-employer-details/mocks/fines-mac-employer-details-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor-form/fines-mac-offence-details-minor-creditor-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-minor-creditor/fines-mac-offence-details-minor-creditor-form/fines-mac-offence-details-minor-creditor-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/fines-mac-parent-guardian-details-form/fines-mac-parent-guardian-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-parent-guardian-details/mocks/fines-mac-parent-guardian-details-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-personal-details/fines-mac-personal-details-form/fines-mac-personal-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-personal-details/mocks/fines-mac-personal-details-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-company-details/fines-mac-review-account-company-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-parent-guardian-details/fines-mac-review-account-parent-guardian-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-personal-details/fines-mac-review-account-personal-details.component.spec.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1372

#1397 Add minor creditor error message
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/AddOffence/AddOffence.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/AddOffence/constants/fines_mac_offence_details_elements.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/AddOffence/constants/fines_mac_offence_details_errors.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/AddOffence/mocks/add-offence-imposition-mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/constants/fines-mac-offence-details-impositions-field-errors.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1397

#1422 add test coverage for PO-1638 to PopulateAndSubmit.feature tests
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/support/step_definitions/submitForReview/submitForReview.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1422

#1400 PO-667
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/constants/search_offence_elements_mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/constants/search_offence_errors.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/mocks/fines-mac-offence-details-search-offences-form.mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/searchOffence.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/OffenceDetails.feature
  cypress/support/step_definitions/genericSteps/linkSteps.ts
  src/app/flows/fines/constants/fines-patterns.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details-form/fines-mac-court-details-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence-form/fines-mac-offence-details-add-an-offence-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/constants/fines-mac-offence-details-search-offences-errors.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/constants/fines-mac-offence-details-search-offences-form.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/constants/fines-mac-offence-details-search-offences-state.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search-form/fines-mac-offence-details-search-offences-search-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search-form/fines-mac-offence-details-search-offences-search-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search-form/fines-mac-offence-details-search-offences-search-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/guards/fines-mac-offence-details-search-offences-flow-state.guard.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/guards/fines-mac-offence-details-search-offences-flow-state.guard.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/interfaces/fines-mac-offence-details-search-offences-errors.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/interfaces/fines-mac-offence-details-search-offences-form.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/interfaces/fines-mac-offence-details-search-offences-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/mocks/fines-mac-offence-details-search-offences-form.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/mocks/fines-mac-offence-details-search-offences-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/constants/fines-mac-offence-details-search-offences-routing-paths.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/constants/fines-mac-offence-details-search-offences-routing-titles.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/fines-mac-offence-details-search-offences.routes.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/interfaces/fines-mac-offence-details-search-offences-routing-paths.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/stores/fines-mac-offence-details-search-offences.store.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/stores/fines-mac-offence-details-search-offences.store.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/stores/types/fines-mac-offence-details-search-offences-store.type.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/constants/fines-mac-offence-details-routing-paths.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/constants/fines-mac-offence-details-routing-titles.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/fines-mac-offence-details.routes.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/interfaces/fines-mac-offence-details-routing-paths.interface.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1400

#1432 Hot Fixes for PO-938 & PO-1130
  cypress/component/manualAccountCreation/FinesMacCourtDetails/FinesMacCourtDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/finesMacReviewAccount.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmitAccessibility.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/AccountCommentsAndNotes.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/CourtDetails.feature
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1432

#1442 PO-987_duplication_issue
  src/app/flows/fines/components/fines-shared/fines-shared-sortable-table-footer/fines-shared-sortable-table-footer.component.html
  src/app/flows/fines/components/fines-shared/fines-shared-sortable-table-footer/fines-shared-sortable-table-footer.component.spec.ts
  src/app/flows/fines/components/fines-shared/fines-shared-sortable-table-footer/fines-shared-sortable-table-footer.component.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.html
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/fines-mac-offence-details-search-offences-results-table-wrapper.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/fines-mac-offence-details-search-offences-results-table-wrapper.component.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1442

#1410 PO-651
  cypress/component/manualAccountCreation/FinesMacPaymentTerms/FinesMacPaymentTerms.cy.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/constants/fines-mac-account-comments-notes-state.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes-form/fines-mac-account-comments-notes-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/fines-mac-account-comments-notes.component.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/interfaces/fines-mac-account-comments-notes-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-account-comments-notes/mocks/fines-mac-account-comments-notes-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/constants/fines-mac-payment-terms-system-generated-notes.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms-form/fines-mac-payment-terms-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-payment-terms/fines-mac-payment-terms.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-fines-mac-state.mock.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-account-notes.utils.spec.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-build-account/fines-mac-payload-build-account-account-notes.utils.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/utils/fines-mac-payload-map-account/fines-mac-payload-map-account-account-notes.utils.ts
  src/app/flows/fines/fines-mac/stores/fines-mac.store.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1410

#1453 Change the Draft Accounts Status from enum to constant
  src/app/flows/fines/fines-draft/constants/fines-draft-tab-statuses.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-manage/fines-draft-check-and-manage-tabs/fines-draft-check-and-manage-tabs.component.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-draft-account-statues.constant.ts
  src/app/flows/fines/services/opal-fines-service/enums/opal-fines-draft-account-statuses.enum.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-draft-account-statuses.interface.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1453

#1451 Change Async Pipes to Resolvers
  cypress/component/manualAccountCreation/FinesMacCourtDetails/FinesMacCourtDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacCreateAccount/FinesMacCreateAccount.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/AddOffence/AddOffence.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/AddOffence/constants/fines_mac_offence_details_elements.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/RemoveImposition/removeImpositionComponent.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/RemoveOffenceAndImpositions/removeOffencesAndImpositionComponent.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/ReviewSummary/reviewSummary.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/finesMacReviewAccount.cy.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-court-details/fines-mac-court-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-create-account/fines-mac-create-account.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-add-an-offence/fines-mac-offence-details-add-an-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-imposition/fines-mac-offence-details-remove-imposition.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-remove-offence-and-impositions/fines-mac-offence-details-remove-offence-and-impositions.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review-summary/fines-mac-offence-details-review-summary.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/fines-mac-offence-details.routes.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/resolvers/fetch-major-creditors-resolver/fetch-major-creditors.resolver.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/resolvers/fetch-major-creditors-resolver/fetch-major-creditors.resolver.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/resolvers/fetch-results-resolver/fetch-results.resolver.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/routing/resolvers/fetch-results-resolver/fetch-results.resolver.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-court-details/fines-mac-review-account-court-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-court-details/fines-mac-review-account-court-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-offence-details/fines-mac-review-account-offence-details.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-offence-details/fines-mac-review-account-offence-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account-offence-details/fines-mac-review-account-offence-details.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-business-units-resolver/fetch-business-units.resolver.spec.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-business-units-resolver/fetch-business-units.resolver.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-enforcement-courts-resolver/fetch-enforcement-courts.resolver.spec.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-enforcement-courts-resolver/fetch-enforcement-courts.resolver.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-sending-courts-resolver/fetch-sending-courts.resolver.spec.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-sending-courts-resolver/fetch-sending-courts.resolver.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1451

#1464 Testing po 987
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffenceResults/constants/search_offence_results_elements_mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffenceResults/mocks/offence_search_results_mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffenceResults/searchOffenceResults.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/OffenceDetails.feature
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  cypress/support/step_definitions/searchOffences/searchOffencesSteps.ts
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-1464

#1458 PO-1811
  src/app/flows/fines/fines-draft/constants/fines-draft-state.constant.ts
  src/app/flows/fines/fines-draft/stores/fines-draft.store.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/fines-mac-payload.service.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/interfaces/fines-mac-payload-add-account.interfaces.ts
  src/app/flows/fines/fines-mac/services/fines-mac-payload/mocks/fines-mac-payload-add-account.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-draft-add-account-payload.mock.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1458

#1463 fix: update component description and enhance OffenceDetails feature …
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageApproved.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/OffenceDetails.feature
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1463

#1402 PO-987
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageApproved.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageInReview.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageRejected.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/constants/fines_draft_cam_inputter_elements.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/constants/search_offence_elements_mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/mocks/fines-mac-offence-details-search-offences-form.mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffence/searchOffence.cy.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffenceResults/constants/search_offence_results_elements_mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffenceResults/mocks/offence_search_results_mock.ts
  cypress/component/manualAccountCreation/FinesMacOffenceDetails/SearchOffenceResults/searchOffenceResults.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/pages/OffenceDetails.feature
  cypress/support/step_definitions/genericSteps/inputFieldSteps.ts
  cypress/support/step_definitions/searchOffences/searchOffencesSteps.ts
  src/app/flows/fines/components/fines-shared/fines-shared-sortable-table-footer/fines-shared-sortable-table-footer.component.html
  src/app/flows/fines/components/fines-shared/fines-shared-sortable-table-footer/fines-shared-sortable-table-footer.component.spec.ts
  src/app/flows/fines/components/fines-shared/fines-shared-sortable-table-footer/fines-shared-sortable-table-footer.component.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.html
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/constants/fines-mac-offence-details-search-offences-errors.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/constants/fines-mac-offence-details-search-offences-state.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/constants/fines-mac-offence-details-search-offences-results-table-wrapper-link-defaults.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/constants/fines-mac-offence-details-search-offences-results-table-wrapper-sort-defaults.constant.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/fines-mac-offence-details-search-offences-results-table-wrapper.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/fines-mac-offence-details-search-offences-results-table-wrapper.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/fines-mac-offence-details-search-offences-results-table-wrapper.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/interfaces/fines-mac-offence-details-search-offences-results-table-wrapper-table-data.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/interfaces/fines-mac-offence-details-search-offences-results-table-wrapper-table-sort.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results-table-wrapper/mocks/fines-mac-offence-details-search-offences-results-table-wrapper-table-data.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-results/fines-mac-offence-details-search-offences-results.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search-form/fines-mac-offence-details-search-offences-search-form.component.html
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search-form/fines-mac-offence-details-search-offences-search-form.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/fines-mac-offence-details-search-offences-search/fines-mac-offence-details-search-offences-search.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/guards/fines-mac-offence-details-search-offences-flow-state.guard.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/interfaces/fines-mac-offence-details-search-offences-errors.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/interfaces/fines-mac-offence-details-search-offences-state.interface.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/mocks/fines-mac-offence-details-search-offences-state.mock.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/fines-mac-offence-details-search-offences.routes.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/resolvers/fines-mac-offence-details-search-offences.resolver.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-search-offences/routing/resolvers/fines-mac-offence-details-search-offences.resolver.ts
  src/app/flows/fines/services/opal-fines-service/constants/opal-fines-paths.constant.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-paths.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-search-offences-params.interface.ts
  src/app/flows/fines/services/opal-fines-service/interfaces/opal-fines-search-offences.interface.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-search-offences-params.mock.ts
  src/app/flows/fines/services/opal-fines-service/mocks/opal-fines-search-offences.mock.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-1402

#1466 Qa bugs
  src/app/flows/fines/fines-mac/fines-mac-account-details/fines-mac-account-details.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review-offence/fines-mac-offence-details-review-offence.component.ts
  src/app/flows/fines/fines-mac/fines-mac-offence-details/fines-mac-offence-details-review/fines-mac-offence-details-review.component.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.html
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.spec.ts
  src/app/flows/fines/fines-mac/fines-mac-review-account/fines-mac-review-account.component.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-map-fines-mac-payload-resolver/fetch-map-fines-mac-payload.resolver.spec.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-map-fines-mac-payload-resolver/fetch-map-fines-mac-payload.resolver.ts
  src/app/flows/fines/fines-mac/routing/resolvers/fetch-map-fines-mac-payload-resolver/interfaces/fetch-map-fines-mac-payload.interface.ts
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1466

#1465 View rejected account details
  cypress/component/manualAccountCreation/FinesMacReviewAccount/finesMacReviewAccount.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidate/checkAndValidate.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  infrastructure/.terraform-version
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-1465

#1469 Testing 640 merge to master
  cypress/component/manualAccountCreation/FinesMacAccountDetails/FinesMacAccountDetails.cy.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/finesMacReviewAccount.cy.ts
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidate/checkAndValidate.feature
  cypress/e2e/functional/opal/manualAccountCreation/checkAndValidate/checkAndValidateAccessibility.feature
  cypress/e2e/functional/opal/manualAccountCreation/populateAndSubmit/PopulateAndSubmit.feature
  cypress/fixtures/draftAccounts/adultOrYouthOnlyPayload.json
  cypress/fixtures/draftAccounts/companyPayload.json
  cypress/fixtures/draftAccounts/parentOrGuardianPayload.json
  cypress/fixtures/getDraftAccounts/draftAccount.json
  cypress/fixtures/getDraftAccounts/threeRejectedAccounts.json
  cypress/fixtures/getDraftAccounts/twentySixRejectedAccounts.json
  cypress/fixtures/getDraftAccounts/zeroRejectedAccounts.json
  cypress/support/step_definitions/apiSteps/draftAccounts/addDraftAccount.ts
  cypress/support/step_definitions/apiSteps/draftAccounts/getDraftAccounts.ts
  cypress/support/step_definitions/apiSteps/draftAccounts/removeDraftAccounts.ts
  cypress/support/step_definitions/checkAndValidate/checkAndValidateCreation.ts
  cypress/support/step_definitions/genericSteps/genericSteps.ts
  cypress/support/step_definitions/manualAccountCreation/accountDetailsTable.ts
  cypress/support/step_definitions/submitForReview/submitForReview.ts
  infrastructure/.terraform-version
Labels: ns:opal, prd:opal, stg/add-or-update, rel:opal-frontend-pr-1469

#1448 PO-593
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDradtCheckAndValidate/FinesDraftCheckAndValidateComponent.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateRejected.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/CheckAndValidateToReview.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_cam_checker_tableConstants.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_cav_elements.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/constants/fines_draft_cav_tableConstants.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/intercepts/check-and-validate-intercepts.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/mocks/check-and-validate-session-mock.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/mocks/fines-draft-validate-account.mock.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCheckAndValidate/FinesDraftCheckAndValidate/mocks/fines_draft_validate_over_25_account_mock.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageApproved.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageDeleted.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageInReview.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/CreateAndManageRejected.cy.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/constants/fines_draft_cam_tableConstants.ts
  cypress/component/manualAccountCreation/FinesDraft/FinesDraftCreateAndManage/FinesDraftCreateAndManageComponent/mocks/create-and-manage-routes-mock.ts
  cypress/component/manualAccountCreation/FinesMacAccountDetails/mocks/fines_mac_rejected_account_mock.ts
  cypress/component/manualAccountCreation/FinesMacReviewAccount/mocks/mock_fines_draft_state.ts
  package.json
  src/app/flows/fines/fines-draft/constants/fines-draft-tab-statuses.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.html
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate-tabs/fines-draft-check-and-validate-tabs.component.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/fines-draft-check-and-validate.component.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/routing/constants/fines-draft-check-and-validate-routing-paths.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/routing/constants/fines-draft-check-and-validate-routing-permissions.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/routing/constants/fines-draft-check-and-validate-routing-titles.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/routing/fines-draft-check-and-validate.routes.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/routing/interfaces/fines-draft-check-and-validate-routing-paths.interface.ts
  src/app/flows/fines/fines-draft/fines-draft-check-and-validate/routing/interfaces/fines-draft-check-and-validate-routing-permissions.interface.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-tabs/fines-draft-create-and-manage-tabs.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/fines-draft-create-and-manage-view-all-rejected/fines-draft-create-and-manage-view-all-rejected.component.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/fines-draft-create-and-manage.routes.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-tab.resolver.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-view-all-rejected.resolver.spec.ts
  src/app/flows/fines/fines-draft/fines-draft-create-and-manage/routing/resolvers/fines-draft-create-and-manage-view-all-rejected.resolver.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/constants/fines-draft-table-wrapper-table-sort-default.constant.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.html
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/fines-draft-table-wrapper.component.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/interfaces/fines-draft-table-wrapper-table-data.interface.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/interfaces/fines-draft-table-wrapper-table-sort.interface.ts
  src/app/flows/fines/fines-draft/fines-draft-table-wrapper/mocks/fines-draft-table-wrapper-table-data.mock.ts
  src/app/flows/fines/fines-draft/routing/fines-draft.routes.ts
  src/app/flows/fines/fines-draft/routing/resolvers/constants/fines-draft-resolver-empty-response.constant.ts
  src/app/flows/fines/fines-draft/routing/resolvers/fines-draft-tab.resolver.spec.ts
  src/app/flows/fines/fines-draft/routing/resolvers/fines-draft-tab.resolver.ts
  src/app/flows/fines/fines-draft/routing/resolvers/interfaces/fines-draft-resolver-options.interface.ts
  src/app/flows/fines/fines-draft/services/fines-draft.service.ts
  src/app/flows/fines/fines-mac/routing/fines-mac.routes.ts
  src/app/flows/fines/routing/fines.routes.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.spec.ts
  src/app/flows/fines/services/opal-fines-service/opal-fines.service.ts
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.ts
  yarn.lock
Labels: ns:opal, prd:opal, rel:opal-frontend-pr-1448
